<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 id="jobs-slogan"> {{slogan}} </h1>
    <p id="jobs-description"> {{description}} </p>
    <p id="jobs-description"> {{description2}} </p>
  </div>
</div>



