<div class="col-md-5">

  <form id="driver-form">

    <div class="question form-group">
      <label class="question_label">Name</label>
      <input name="name" type="text" class="form-control" id="name-input">
    </div>

    <div class="question form-group">
      <label class="question_label">Company</label>
      <input name="name" type="text" class="form-control" id="company-input">
    </div>

    <div class="question form-group">
      <label class="question_label">Phone Number</label>
      <input name="phone" type="tel" class="form-control" id="phone-input">
    </div>

    <div class="question form-group">
      <label class="question_label">Email*</label>
      <input name="email" type="email" class="form-control" minlength="5" id="email-input" required>
      <p class="validation-error" id="email-error"> Please input a valid email address </p>
    </div>

    <button type="button" class="button button--green" id="submit-button"> Hire Drivers </button>
    <p class="form-error-message">Looks like some fields are invalid. Please correct them and try again. </p>
    <p class="form-success-message">Thanks! We'll reach out shortly</p>
  </form>


</div>
