
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-7">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Find hires with the training your business needs. </h1>
          <h4 class="choice-description"> 
          Choice trains talented, hard-working industry professionals in heavily demanded skills to help your business grow. </h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>