
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-6">
        <div id="slogan-container">
          <h2 class="choice-slogan"> Get drivers when you need them </h2>
          <p class="choice-description"> Choice supplies your company with workers that can fulfill demand, even during peak times. Pay only for drivers when you need them.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>