
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-7">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Get drivers when you need them </h1>
          <h4 class="choice-description"> Choice supplies your company with a scalable workforce to meet demand, even during peaks. Pay only for the workers you use. </h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>