<div class="jumbotron" id="getting-started-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header"> How Choice Works </h2>
      </div>

    </div>

    <div class="row" id="getting-started">
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/register.png">
        
        <p class="getting-started__title"> 1. &nbsp Send us your information </p>
        <p class="getting-started__description"> Our partnerships team will schedule a call to learn about your hiring needs. Based on your information, we'll pre-qualify our workers with your hiring criteria. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/connect.png">
        
        <p class="getting-started__title"> 2. &nbsp Integrate with our API </p>
        <p class="getting-started__description"> Integrating with the Choice mobile app is quick and easy, and allows you to communicate your workforce needs and track the performance of our workers when requested. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/choice-icon.png">
        <p class="getting-started__title"> 3. &nbsp Get workers on-demand</p>
        <p class="getting-started__description"> Use the Choice mobile app to find additional drivers and on-demand workers to fulfill demand when you need it. </p>
      </div>
    </div>
  </div>
</div>