<div class="jumbotron" id="how-choice-works-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header"> How Choice Works </h2>
      </div>

    </div>

    <div class="row" id="how-choice-works">
      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/register.png">
        <h4 class="how-choice-works__title"> 1. Send us your information </h4>
        <p class="how-choice-works__description"> Our partnerships team will schedule a call to learn about your hiring needs. Based on your information, we'll pre-qualify our workers with your hiring criteria. </p>
      </div>
      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/connect.png">
        <h4 class="how-choice-works__title"> 2. Integrate with our API </h4>
        <p class="how-choice-works__description"> Integrating with the Choice mobile app is quick and easy, and allows you to communicate your workforce needs and track the performance of our workers when requested. </p>
      </div>
      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/choice-icon.png">
        <h4 class="how-choice-works__title"> 3. Get workers on-demand </h4>
        <p class="how-choice-works__description"> Use the Choice mobile app to find additional drivers and on-demand workers to fulfill demand when you need it. </p>
      </div>
    </div>
  </div>
</div>