
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-6">
        <div id="slogan-container">
          <h2 class="choice-slogan"> Get drivers when you need them </h2>
          <p class="choice-description"> Choice supplies your company with workers that can fulfill demand, even during peak times. Pay only for drivers when you need them. We help drivers review their different work options to help optimize their earnings according to their schedule, preferences and financial needs. In turn, we offer companies that need drivers a qualified and dependable workforce since we only pass them suitable jobs. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>