<div class="jumbotron" id="how-choice-works-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
      </div>

    </div>

    <div class="row" id="how-choice-works">
      <div class="col-md-10 col-md-offset-1">
        <h1 id="succeed_header"> Real-world training professionals want. 
        </br> 
        Skilled employees your business needs. </h1>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <h3 id="succeed_description">We are changing the way companies hire by training skilled professionals in real-world environments.  We arm them with the latest technological and digital marketing skills, provide 1:1 mentorship, and offer real-world client experience to prepare them for your team.
        </h3>
      </div>
    </div>
  </div>
</div>