<div class="jumbotron">
  <div class="container" id="why-choice-container">
    <div class="row">
      <h2 class="section-header"> On Demand the way it should have been. </h2>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/money.png">
        <h3>Access to More Jobs</h3>
        <p> Choose from a variety of well-paying jobs throughout the day &#8212; all on one platform.</p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/speed.png">
        <h3>Eliminate Slow Times</h3>
        <p> No more sitting around idle during the midday slump. &#32; Make more money finding new work during slow hours. </p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/calendar.png">
        <h3>Truly Flexible Schedules</h3>
        <p> Don't be tied to a single company&#39;s schedule. On Choice, jobs are available thoughout the day, giving you freedom to work whenever you want. </p>
      </div>

    </div>
  </div>
</div>
