<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <form id="client-request-form">

      <h2 class="form-title">{{heading}}</h2>
      <p class="form-caption">{{description}}</p>


      <div class="question form-group">
        <label class="question_label">Name</label>
        <input name="name" type="text" class="form-control" id="name-input">
      </div>

      <div class="question form-group">
        <label class="question_label">Email*</label>
        <input name="email" type="email" class="form-control" minlength="5" id="email-input" required>
        <p class="validation-error" id="email-error"> Please input a valid email address </p>
      </div>

      <div class="question form-group">
        <label class="question_label">Company website</label>
        <input name="website" type="text" class="form-control" id="website-input">
      </div>

      <div class="question form-group">
        <label class="question_label">What are your marketing goals?</label>
        <textarea placeholder="ie: get more visitors to my consumer goods website" name="goals" type="text" class="form-control" id="goals-input"></textarea>
      </div>

      <div class="question form-group">
        <label class="question_label">What is your estimated budget (one-time or recurring)?</label>
        <input name="budget" type="text" class="form-control" id="budget-input">
      </div>

      <div class="question form-group">
        <label class="question_label">What skills do you think you need?</label>

        <section class="two-column-section">
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="SEO"/> SEO
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="SEM"/> SEM
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="social_media_marketing"/> Social Media Marketing
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="email_marketing"/> Email Marketing
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="strategy"/> Marketing Strategy
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="lead_generation"/> Lead Generation
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="analytics"/> Analytics
            <label></label>
          </label>
          <label class="checkbox-item">
            <input name="skill" type="checkbox" value="other"/> Other
            <label></label>
          </label>
        </section>
      </div>

      <div class="question form-group">
        <label class="question_label">Any details you'd like to share with us?</label>
        <textarea name="details" class="form-control" id="details-input"></textarea>
      </div>


      <button type="button" class="button button--green button--full-width" id="submit-button"> Submit </button>
      <p class="form-error-message">Looks like some fields are invalid. Please correct them and try again.</p>

      <p class="form-success-message">Thanks! We'll contact you shortly. </p>

    </form>

  </div>
</div> 
