@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Josefin+Sans:300);

/* -----------------
VARIABLES
------------------ */

@green: #0eb06d;
@dark-green: #0AA263;
@light-green: #17C17B;

@very-light-green: #f2fff3;
@silhouette-color: #515151;
@box-shadow-color: #ccc;
@black: #333;


/* -----------------
GENERAL
------------------*/

h1, h2, h3, h4, h5, h6, a, button, p, span {
  font-family: "Lato";
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

html {
  height: 100%;
}

.jumbotron {
  background-color: white;
  margin: 0;

  h1 {
    font-size: auto;
  }
}



/* -----------------
HEADER
------------------*/
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 3000;
  height: 60px;
  background-color: rgba(0, 0, 0, .75);
}

#logo {
  margin-top: 8px;
  display: inline-block;

  #logo-image {
    height: 44px;
  }
}

.button {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 auto;
  background-color: @green;
  text-decoration: none;
  .border-radius();
  border: none;
  text-align: center;
  color: white;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
}

#nav-links {
  list-style: none;

  li {
    display: block;
    float: right;
  }
}




/* -----------------
FOOTER
------------------ */
footer {
  background-color: gray;
  padding: 15px;
}

.footer-link {
	color: white;
	text-decoration: none;
	margin: 0 auto;
	display: block;
}

.footer-link:hover {
	color: white;
	text-decoration: none;
}








/* ---------------------
FUNCTIONS
-----------------------*/

.box-shadow(@color) {
  -webkit-box-shadow: 3px 3px 2px 0 @color;
  box-shadow: 3px 3px 2px 0 @color;
}

.text-shadow(@color) {
  text-shadow: 2px 2px 0 @color;
}

.border-radius(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}