@form-element-padding: 10px;

/* YES/NO Button */
.bool-button {
  width: 100%;
  padding: form-element-padding;
  border: 1px solid black;
}

.yes-no-button:active {
  background-color: green;
}

.yes-no-button--active {
  background-color: red;
}

