

/* checkbox */
@selected-item: #1995AB;

/* error colors */
@error-light-red: #FFDCDC;
@error-text-color: #D40C0C;





form {
  padding: 20px 25px;
  background: white;
  margin-bottom: 0px;
  .bottom-border-radius();
  border: 1px solid @box-border-color;
  border-top: none;
}

.question {
  margin-bottom: 10px;
  overflow: auto;
  overflow-y: hidden;
}


.form_container {
  padding: 10px 25px;
  background: white;
  border: 5px solid @green;
}

.form_container--white_border {
  border: 1px solid #eee;
  border: none;
}


.question_label {
  font-weight: 600;
  font-size: 1.1em;
  width: 100%;
  margin: 0px 0px 2px 0px;
}



/* --------------
ERROR MESSAGES 
---------------


/* set the checkbox/radiobutton location */
input[type="checkbox"], input[type="radio"] {
  position: relative;
  top: 0px;
  margin: 0px 10px;
}

/* overwrite checkbox image */
input[type="checkbox"] {
  opacity: 0;
}
input[type="checkbox"] + label {
  background: url('http://www.clker.com/cliparts/w/G/Y/C/o/Q/checkbox-unchecked-gray-th.png') 0 0px no-repeat;
}
.checkbox-item, .radio-item {
  .border-radius();
  width: 100%;
  padding: 10px;
  display: block;
  font-family: "Lato";
  cursor: pointer;
  font-weight: 300;
  background-color: #eee;
  border: 1px solid #ccc;
}

.item-selected {
  background-color: @selected-item;
  border: 1px solid @selected-item; 
  color: white;
}


.two-column-section > label:nth-child(odd) {
  float: left;
  width: 48%;
}
.two-column-section > label:nth-child(even) {
  float: right;
  width: 48%;
}



/* ---------------
CHECKBOX BUTTONS
---------------- */





.button-checkbox {
  width: 48%;
}

.button-checkbox--single-column {
  width: 100%;
}

.btn {
  margin: 5px 0px;
  height: 40px;
  width: 100%;
  color: @black;
  background-image: none;
  background-color: #eee;
  font-size: 1.1em;
  font-family: "Lato";
  font-weight: 300;
}

.btn, .btn:hover, .btn:active, .btn:focus {
  outline: none;
}

.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover,  {
  background-color: @selected-item;
  outline: none;
  box-shadow: none;
  border: none;
}

.button-checkbox:nth-child(odd) {
  float:right;
}

.button-checkbox:nth-child(even) {
  float:left;
}

.glyphicon {
  margin-right: 5px;
}



/* ------------------
INPUT TEXT
TEXTAREA 
-------------------*/

input[type=text], select, input[type=tel], input[type=email], .toggle-button, textarea {
  font-size: 1.5em;
  height: 45px;
  width: 100%;
  font-weight: 400;
  padding: 15px;
  color: @black;
  letter-spacing: 1px;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus {
  /* box-shadow: 0 0 5px @green; */
  box-shadow: none;
  border: 1px solid @green;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  .placeholder-style();
}
input:-moz-placeholder, textarea:-moz-placeholder {
  .placeholder-style();
}
input::-moz-placeholder, textarea::-moz-placeholder {
  .placeholder-style();
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  .placeholder-style();
}


input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color:transparent;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color:transparent;
}




/* ------------------
BUTTON
-------------------*/

.button {
  display: block;
  padding: 20px 10px;
  margin: 0 auto;
  text-decoration: none;
  .border-radius();
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: white;
  }
}


.button--green {
  background-color: @green;
}

.button--green:hover {
  background-color: @hover-green;
  outline: none;
}

.button--green:active {
  background-color: @active-green;
  outline: none;

}

#submit-button:active {

}


/* ----------------
FUNCTIONS 
------------------*/


.placeholder-style() {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}


