@import "./common.less";

/* checkbox */
@selected-item: #9E9E9E;




form {
  padding: 20px 25px;
  background: white;
  margin-bottom: 0px;
  border: none;
  .border-radius(7px);
}

.form-title {
  font-size: 1.8em;
  font-weight: 700;
  margin: 10px 0px 30px 0px;
  text-align: center;
}

.form-caption {
  font-size: 1.3em;
}

.question {
  margin-bottom: 10px;
  overflow: auto;
  overflow-y: hidden;
}


.form_container {
  padding: 10px 25px;
  background: white;
  border: 5px solid @green;
}

.form_container--white_border {
  border: 1px solid #eee;
  border: none;
}


.question_label {
  font-weight: 600;
  font-size: 1.1em;
  width: 100%;
  margin: 0px 0px 2px 0px;
}



/* --------------
ERROR MESSAGES 
---------------


/* set the checkbox/radio button location */
input[type="checkbox"], input[type="radio"] {
  position: relative;
  top: 0px;
  margin: 0px 5px;
}

/* disable default checkbox and radio images */
input[type="checkbox"], input[type="radio"] {
  display: none;
}

/* new checkbox and radio button image position and size */
input[type="checkbox"] + label, input[type="radio"] + label {
  width: 16px;
  height: 16px;
  float: left;
  margin: 3px 10px 0px 5px;
}

input[type="checkbox"] + label, #agree-to-terms-checkbox + label {
  background: url('../images/checkbox-unchecked.png') 0 0px no-repeat;
}
input[type="radio"] + label {
  background: url('../images/radio.png') 0 0px no-repeat;
}
input[type="checkbox"]:checked + label {
  background: url('../images/checkbox.png') 0 0px no-repeat;
}
input[type="radio"]:checked + label {
  background: url('../images/radio-checked.png') 0 0px no-repeat;
}


.checkbox-item, .radio-item {
  .border-radius();
  width: 100%;
  padding: 10px;
  display: block;
  font-family: "Lato";
  cursor: pointer;
  font-weight: 400;
  font-size: 1.0em;
  background-color: #fafafa;
  border: 1px solid #ccc;
}

.item-selected {
  background-color: @selected-item;
  border: 1px solid @selected-item; 
  color: white;
}


.two-column-section > label:nth-child(odd) {
  float: left;
  width: 48%;
}
.two-column-section > label:nth-child(even) {
  float: right;
  width: 48%;
}




/* ------------------
INPUT TEXT
TEXTAREA 
-------------------*/

input[type=text], select, input[type=tel], input[type=email], .toggle-button, textarea {
  font-size: 1.5em;
  height: 45px;
  width: 100%;
  font-weight: 400;
  padding: 15px;
  color: @black;
  letter-spacing: 1px;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, textarea:focus {
  /* box-shadow: 0 0 5px @green; */
  box-shadow: none;
  border: 1px solid @green;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  .placeholder-style();
}
input:-moz-placeholder, textarea:-moz-placeholder {
  .placeholder-style();
}
input::-moz-placeholder, textarea::-moz-placeholder {
  .placeholder-style();
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  .placeholder-style();
}


input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:transparent;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color:transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color:transparent;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color:transparent;
}




/* ------------------
BUTTON
-------------------*/

.button {
  display: block;
  padding: 20px 10px;
  margin: 0 auto;
  text-decoration: none;
  .border-radius();
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: white;
  }
}


.button--green {
  background-color: @green;
}

.button--green:hover {
  background-color: @hover-green;
  outline: none;
}

.button--green:active {
  background-color: @active-green;
  outline: none;
}


/* ---------------
TERMS NOTICE 
--------------- */
#terms-notice {
  font-size: 1.0em;
  margin-top: 20px;
}

/* ---------------
THANK YOU MODAL
-----------------*/

.modal-header {
  text-align: center;
  background-color: @green;
}

.modal-title {
  font-weight: 600;
  font-size: 1.4em;
  color: white;
}

.modal-body {
  padding: 25px;
}

.bold {
  font-weight: 600;
}

.modal-footer {

}

.close-link {
  cursor: pointer;
}




/* ----------------
FUNCTIONS 
------------------*/


.placeholder-style() {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}


