
@green: #0eb06d;
@dark-green: #0AA263;
@light-green: #17C17B;

@very-light-green: #f2fff3;
@silhouette-color: #515151;
@box-shadow-color: #ccc;
@black: #333;


/* ---------------------
FUNCTIONS
-----------------------*/

.box-shadow(@color) {
  -webkit-box-shadow: 3px 3px 2px 0 @color;
  box-shadow: 3px 3px 2px 0 @color;
}

.text-shadow(@color) {
  text-shadow: 2px 2px 0 @color;
}

.border-radius(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}