@import "./common.less";
@import "./slider.less";
@import "./form.less";


/* -----------------
HERO SECTION
------------------*/
#hero-section-jumbotron {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#hero-section {
  margin-top: 80px;
}

#choice-description {
  //background-color: rgba(0,0,0,0.3);

  h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 4em;
    margin-bottom: 30px;
  }

  p {
    color: white;
    text-shadow: 1px 1px 2px #000000;
    font-size: 1.7em;
  }
}




/* -----------------
CONTACT FORM SPECIFIC
------------------*/
#contact-form, #basics-form, #experience-form {
  padding: 10px 25px;
  background: white;
  margin-bottom: 0px;

  h2#cta {
    font-size: 2.2em;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    color: @black;
  }

  p#instructions {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  #contact-form-textarea {
    resize: none;
    height: 200px;
    font-size: 1.2em;
  }
}



/* -----------------
WHY CHOICE
------------------*/
.section-header {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
}

#why-choice-container {
  img {
    display: block;
    margin: 0px auto 20px auto;
  }

  h3 {
    font-weight: 600px;
    color: @black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  p {
    line-height: 1.7em;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
  }
}


/* -----------------
HOW IT WORKS
------------------ */
#how-it-works-container {
  background-color: #EDEDED;

  img {
    display: block;
    margin: 0px auto 20px auto;
  }

  h3 {
    font-weight: 600px;
    color: @black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  p {
    line-height: 1.7em;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
  }

  .section-header {
    margin-bottom: 60px
  }

  .caption {
    text-align: center;
    //transform: translateY(180%);
  }
}




#next-button {
  display: block;
  padding: 20px 10px;
  margin: 0 auto;
  background-color: @green;
  text-decoration: none;
  .border-radius();
  border: none;
  text-align: center;
  color: white;
  font-size: 1.3em;

  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
}

#next-button:hover {
  background-color: @light-green;
  a {
    text-decoration: none;
  }
}

#next-button:active {
  background-color: @dark-green;
}





/* Medium devices (desktops, 992px and up) */
@screen-md : 992px;
@media (min-width: @screen-md) {

  #choice-description {
    margin-top: 340px;
  }

  .caption {
    height: 500px;
  }

  .how-it-works-text-wrapper {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
  }
}
