@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Josefin+Sans:300);
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
p,
span {
  font-family: "Lato";
}
.jumbotron {
  background-color: white;
  margin: 0;
  padding: 60px;
}
/* -----------------
HEADER 
------------------*/
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 3000;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
}
#logo {
  color: white;
  font-family: "Josefin Sans";
  text-decoration: none;
  font-size: 30px;
  margin-top: 8px;
  display: inline-block;
}
.button {
  display: block;
  padding: 20px 10px;
  margin: 0 auto;
  background-color: #0eb06d;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
#nav-links {
  list-style: none;
}
#nav-links li {
  display: block;
  float: right;
}
#merchant-button {
  margin-top: 18px;
  text-decoration: none;
  color: white;
}
#merchant-button:hover {
  color: #0eb06d;
}
/* -----------------
HERO SECTION
------------------*/
#hero-section-jumbotron {
  background: url("../images/background.jpg");
  background-position: 25%;
  background-size: 100%;
}
#hero-section {
  margin-top: 80px;
}
#choice-description {
  margin-top: 200px;
}
#choice-description h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 4em;
  margin-bottom: 30px;
}
#choice-description p {
  color: white;
  text-shadow: 1px 1px 2px #000000;
  font-size: 1.7em;
}
#form-container {
  padding: 10px 25px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 5px solid #0eb06d;
}
#form-container h2#cta {
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
}
#form-container p#instructions {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}
#form-container .form-control {
  height: 45px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "Lato";
  padding: 15px;
  font-size: 1.5em;
  color: #333333;
  letter-spacing: 1px;
}
input::-webkit-input-placeholder {
  color: #bbb;
  font-size: 0.7em;
  padding-top: .3em;
  font-weight: 300;
  font-family: "Lato";
}
input:-moz-placeholder {
  color: #bbb;
  font-size: 0.7em;
  padding-top: .3em;
  font-weight: 300;
  font-family: "Lato";
}
input::-moz-placeholder {
  color: #bbb;
  font-size: 0.7em;
  padding-top: .3em;
  font-weight: 300;
  font-family: "Lato";
}
input:-ms-input-placeholder {
  color: #bbb;
  font-size: 0.7em;
  padding-top: .3em;
  font-weight: 300;
  font-family: "Lato";
}
input[type=text] {
  font-size: 1.2em;
}
input[type=text]:focus {
  box-shadow: 0 0 5px #0eb06d;
  border: 1px solid #0eb06d;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
#submit-button {
  display: block;
  padding: 20px 10px;
  margin: 0 auto;
  background-color: #0eb06d;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
#submit-button a {
  text-decoration: none;
  color: white;
}
#submit-button:hover {
  background-color: #17C37C;
}
#submit-button:active {
  background-color: #0A9C60;
}
/* -----------------
HERO SECTION
------------------*/
.section-header {
  margin-bottom: 100px;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
}
#why-choice-container img {
  display: block;
  margin: 0px auto 20px auto;
}
#why-choice-container h3 {
  font-weight: 600px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
}
#why-choice-container p {
  line-height: 1.7em;
  font-size: 1.4em;
  font-weight: 300;
}
footer {
  background-color: gray;
  height: 300px;
}
/* ---------------------
FUNCTIONS 
-----------------------*/
