@import "./common.less";
@import "./slider.less";
@import "./form.less";


/* -----------------
HERO SECTION
------------------*/
#hero-section-jumbotron {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#choice-slogan {
  color: white;
  font-size: 4em;
  margin-bottom: 30px;
}

.choice-description {
  color: white;
  font-size: 1.7em;
}



/* -----------------
FORM
------------------*/




/* -----------------
WHY CHOICE
------------------*/
.section-header {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 300;
  font-size: 2.5em;
}

#why-choice-container {
  img {
    display: block;
    margin: 0px auto 20px auto;
  }

  h3 {
    font-weight: 600px;
    color: @black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  p {
    line-height: 1.7em;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
  }
}



/* -----------------
HOW IT WORKS
------------------ */
#how-it-works-container {
  background-color: #DEDEDE;

  img {
    display: block;
    margin: 0px auto 20px auto;
  }

  h3 {
    font-weight: 600px;
    color: @black;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  p {
    line-height: 1.7em;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
  }

  .section-header {
    margin-bottom: 60px
  }

  .caption {
    text-align: center;
    //transform: translateY(180%);
  }
}





/* Medium devices (desktops, 992px and up) */
@screen-md : 992px;
@media (min-width: @screen-md) {

  #choice-description {
    // margin-top: 340px;
  }

  .caption {
    height: 500px;
  }

  .how-it-works-text-wrapper {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
  }
}
