header {
  height: 40px;
  background: green;
}
#application-container {
  background: white;
  border: ;
}
#why-choice-container {
  text-align: center;
}
/* ---------------------
FUNCTIONS 
-----------------------*/
