@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/* -----------------
VARIABLES
------------------ */
/* green */
/* used in gradients */
/* blacks */
/* boxes/cards */
/* -----------------
GENERAL
------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
p,
span,
label {
  font-family: "Lato";
}
h1 {
  font-size: 3em;
}
body,
html {
  height: 100%;
  background-color: #eee;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.jumbotron {
  margin: 0;
  padding: 65px 0px;
}
.box {
  padding: 20px 25px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: white;
}
/*  ----------------
HEADER
------------------ */
header {
  position: relative;
  height: 85px;
  background-color: #313131;
  background: #313131;
  /* Old browsers */

  background: -moz-linear-gradient(top, #313131 0%, #222222 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313131), color-stop(100%, #222222));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #313131 0%, #222222 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #313131 0%, #222222 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #313131 0%, #222222 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #313131 0%, #222222 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top', endColorstr='@bottom', GradientType=0);
  /* IE6-9 */

  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
#logo {
  display: inline-block;
  height: 100%;
}
#logo-image {
  height: 25px;
  margin-top: 26px;
}
/* mobile media query */
@media only screen and (max-device-width: 480px) {
  header {
    height: 45px;
    text-align: center;
  }
  #logo {
    display: inline-block;
    margin: 0 auto;
  }
  #logo-image {
    height: 25px;
    margin-top: 10px;
  }
}
/* -----------------
FOOTER
------------------ */
footer {
  background-color: #313131;
  padding: 15px;
}
.footer-link {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
.footer-link:hover {
  color: white;
  text-decoration: none;
}
/* ---------------------
FUNCTIONS
-----------------------*/
/* @import "./common.less"; */
/* checkbox */
/* -------------
GENERAL 
-------------- */
form {
  padding: 15px;
  background: white;
  margin-bottom: 0px;
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.form-title {
  font-size: 1.7em;
  font-weight: 700;
  margin: 10px 0px 20px 0px;
  text-align: center;
}
p.form-caption {
  font-size: 1.8em;
  text-align: center;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
/* --------------
QUESTIONAIRE 
--------------- */
.question {
  margin-bottom: 10px;
  overflow: auto;
  overflow-y: hidden;
}
.form_container {
  padding: 10px 25px;
  background: white;
  border: 5px solid #58b16e;
}
.form_container--white_border {
  border: 1px solid #eee;
  border: none;
}
.question_label {
  font-weight: 600;
  font-size: 1.1em;
  width: 100%;
  margin: 0px 0px 2px 0px;
}
/* -------------
CHECK BOXES 
------------- */
/* set the checkbox/radio button location */
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 0px;
  margin: 0px 5px;
}
/* disable default checkbox and radio images */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
/* new checkbox and radio button image position and size */
input[type="checkbox"] + label,
input[type="radio"] + label {
  width: 16px;
  height: 16px;
  float: left;
  margin: 3px 7px 0px 2px;
}
input[type="checkbox"] + label {
  background: url('../images/checkbox-unchecked.png') 0 0px no-repeat;
}
input[type="radio"] + label {
  background: url('../images/radio.png') 0 0px no-repeat;
}
input[type="checkbox"]:checked + label {
  background: url('../images/checkbox.png') 0 0px no-repeat;
}
input[type="radio"]:checked + label {
  background: url('../images/radio-checked.png') 0 0px no-repeat;
}
.checkbox-item,
.radio-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  display: block;
  font-family: "Lato";
  cursor: pointer;
  font-weight: 400;
  font-size: 1.0em;
  background-color: #fafafa;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0px -2px 2px 1px #f5f5f5;
  box-shadow: inset 0px -2px 2px 1px #f5f5f5;
}
.item-selected {
  background-color: #808080;
  border: 1px solid #727272;
  -webkit-box-shadow: inset 2px 2px 2px 2px #797979;
  box-shadow: inset 2px 2px 2px 2px #797979;
  color: white;
}
.two-column-section > label:nth-child(odd) {
  float: left;
  width: 48%;
}
.two-column-section > label:nth-child(even) {
  float: right;
  width: 48%;
}
input.visited:not(:focus):invalid {
  border: 2px solid #ef6868;
}
.text-input-error {
  border: 2px solid #ef6868;
}
/* ------------------
INPUT TEXT
TEXTAREA 
-------------------*/
input[type=text],
select,
input[type=tel],
input[type=email],
.toggle-button,
textarea {
  font-size: 1.5em;
  height: 45px;
  width: 100%;
  font-weight: 400;
  color: #444444;
  letter-spacing: 1px;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: none;
  border: 1px solid #58b16e;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #444;
  font-size: 0.8em;
  padding-top: .1em;
  font-weight: 300;
  font-family: "Lato";
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* ------------------
BUTTON
-------------------*/
.button {
  display: block;
  padding: 20px 10px;
  outline: none;
  margin: 0 auto;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
.button a {
  text-decoration: none;
  color: white;
}
.button--green {
  background-color: #58b16e;
}
.button--green:hover {
  background-color: #63bb79;
  outline: none;
}
.button--green:active {
  background-color: #53a267;
  outline: none;
}
/* ---------------
TERMS NOTICE 
--------------- */
#terms-notice {
  font-size: 1.0em;
  display: inline;
  margin: 0;
}
#terms-link {
  color: #333;
  font-weight: 600;
}
input[type=checkbox]#terms-checkbox {
  display: inline-block;
}
/* ----------------
ERROR 
----------------- */
/* cumulative error message */
p.form-error-message {
  display: none;
  color: #ef6868;
  font-size: 1.1em;
  text-align: center;
  margin-top: 5px;
}
p.form-success-message {
  color: #58b16e;
  display: none;
  font-weight: 400;
  font-size: 1.1em;
  text-align: center;
  margin-top: 5px;
}
/* individual input error message */
p.validation-error {
  color: #ef6868;
  font-size: 1.1em;
  display: none;
  margin-bottom: 5px;
}
/* ---------------
THANK YOU MODAL
-----------------*/
.modal-content {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.modal-header {
  text-align: center;
  background-color: #58b16e;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-title {
  font-weight: 600;
  font-size: 1.4em;
  color: white;
}
.modal-body {
  padding: 25px;
}
.bold {
  font-weight: 600;
}
.close-link {
  cursor: pointer;
}
/* ----------------
FUNCTIONS 
------------------*/
/* -------------
HEADER (overwrite)
---------------*/
header {
  height: 45px;
}
#logo {
  display: inline-block;
  margin: 0 auto;
}
#logo-image {
  height: 25px;
  margin-top: 10px;
}
/* ----------------
HERO JUMBOTRON
------------------*/
#top-jumbotron {
  background: #58b16e;
  /* Old browsers */

  background: -moz-linear-gradient(top, #58b16e 0%, #2b8655 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58b16e), color-stop(100%, #2b8655));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #58b16e 0%, #2b8655 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #58b16e 0%, #2b8655 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #58b16e 0%, #2b8655 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #58b16e 0%, #2b8655 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top', endColorstr='@bottom', GradientType=0);
  /* IE6-9 */

  height: 450px;
}
#content-jumbotron {
  background-color: #eee;
}
#content-container {
  margin-top: -500px;
}
#jobs-slogan {
  margin: 25px 0px;
  font-size: 2.5em;
  color: white;
  text-align: center;
}
#jobs-description {
  color: white;
  font-size: 1.4em;
  text-align: center;
}
/* ----------
FEATURES
----------- */
.feature-column {
  margin-top: 30px;
}
.feature-image {
  display: block;
  margin: 0 auto;
}
.feature-title {
  text-align: center;
  font-size: 1.8em;
}
p.feature-description {
  text-align: center;
  font-size: 1.3em;
}
/* ----------
WHO WE ARE
----------- */
#who-we-are-container {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: white;
  padding: 20px 25px;
  border: 1px solid #ddd;
}
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.our-profile {
  padding-left: 0px;
}
.our-profile li {
  list-style: none;
  margin: 5px 0px;
  text-align: center;
}
