/* ----------
SLICK SLIDER
------------*/

.slick-slide {
  height: auto;
}

.slick-slide:focus {
  outline: none;
}

.slick-next:before, .slick-prev:before{
  font-size: 40px;
}

.slick-next, .slick-prev {
  width: 40px;
  height: 40px;
}



/* -------------------
SLIDER FOR SURVEY
---------------------*/


.survey_slide {
  border: 1px solid #dddddd;
  margin: 5px;
  .border-radius();
}

.survey_slide__header {
  width: 100%;
  padding: 15px;
  background-color: #ddd;
  margin-top: 0px;
  text-align: center;
  .top-border-radius();
  border: 1px solid @box-border-color;
  border-bottom: none;
}

.survey_slide__header__title {
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 0px;
}

p.survey_slide__header__caption {
  font-size: 1.1em;
  font-weight: 200;
  margin-bottom: 0px;
  font-weight: 400;
}


