@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/* -----------------
VARIABLES
------------------ */
/* -----------------
GENERAL
------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
p,
span {
  font-family: "Lato";
}
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
html {
  height: 100%;
}
.jumbotron {
  background-color: white;
  margin: 0;
}
.jumbotron h1 {
  font-size: auto;
}
/* -----------------
HEADER
------------------*/
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 3000;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
}
#logo {
  margin-top: 8px;
  display: inline-block;
}
#logo #logo-image {
  height: 44px;
}
.button {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 auto;
  background-color: #0eb06d;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 1.3em;
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.button:hover {
  outline: none;
  color: #17c17b;
}
.button:active {
  outline: none;
  color: #0aa263;
}
#nav-links {
  list-style: none;
}
#nav-links li {
  display: block;
  float: right;
}
/* -----------------
FOOTER
------------------ */
footer {
  background-color: gray;
  padding: 15px;
}
.footer-link {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
}
.footer-link:hover {
  color: white;
  text-decoration: none;
}
/* ---------------------
FUNCTIONS
-----------------------*/
/* ----------
SLICK SLIDER
------------*/
.slick-slide {
  height: auto;
}
.slick-slide:focus {
  outline: none;
}
.slick-next:before,
.slick-prev:before {
  font-size: 40px;
}
.slick-next,
.slick-prev {
  width: 40px;
  height: 40px;
}
/* -------------------
SLIDER FOR SURVEY
---------------------*/
.survey_slide {
  border: 1px solid #dddddd;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.survey_slide__header {
  width: 100%;
  padding: 15px;
  background-color: #ddd;
  margin-top: 0px;
  text-align: center;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #bbbbbb;
  border-bottom: none;
}
.survey_slide__header__title {
  font-size: 1.8em;
  font-weight: 700;
  margin-top: 0px;
}
p.survey_slide__header__caption {
  font-size: 1.1em;
  font-weight: 200;
  margin-bottom: 0px;
}
