@import "./common.less";
@import "./slider.less";
@import "./form.less";

/* ------------------
HEADER
------------------*/

header {
  position: relative;
  height: 50px;
  background-color: #444;
}

#logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#logo-image {
  height: 30px;
  margin-top: 10px;

}



/* ----------------
JUMBOTRON
------------------*/
#top-jumbotron {
  background-color: #444;
  /* height: 300px;  Not using this because of header */
  height: 250px;

}

#content-jumbotron {
  background-color: #eee;
}

#content-container {
  margin-top: -300px;
}

#jobs-slogan {
  margin-bottom: 30px;
  font-size: 3em;
  color: white;
  text-align: center;
}



/* features */
.feature-column {
  margin-top: 20px;
}

.feature-image {
  display: block;
  margin: 0 auto;
}

.feature-title {
  text-align: center;
}

.feature-description {
  text-align: center;
}


/* questions */
.desired-locations-error {
  display: none;
}