@import "./common.less";
@import "./slider.less";
@import "./form.less";

/* ------------------
HEADER
------------------*/

header {
  position: relative;
  height: 50px;
  background-color: #444;
}

#logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#logo-image {
  height: 30px;
  margin-top: 10px;

}



/* ----------------
JUMBOTRON
------------------*/
#top-jumbotron {
  background-color: #444;
  /* height: 300px;  Not using this because of header */
  height: 350px;

}

#content-jumbotron {
  background-color: #eee;
}

#content-container {
  margin-top: -400px;
}

#jobs-slogan {
  margin-bottom: 30px;
  font-size: 3em;
  color: white;
  text-align: center;
}

#jobs-description {
  color: white;
  font-size: 1.4em;
  text-align: center;
}



/* features */
.feature-column {
  margin-top: 30px;
}

.feature-image {
  display: block;
  margin: 0 auto;
}

.feature-title {
  text-align: center;
}

p.feature-description {
  text-align: center;
  font-size: 1.3em;
}


/* questions */
.desired-locations-error {
  display: none;
}




/* who we are */
#who-we-are-container {
  .border-radius();
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
}

.profile-pic {
    width: 80px; // These are your circle dimensions
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center center; // Center image in the circle
    background-size: cover; // Make sure it covers the circle, as there is no bg repeat
}