<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> About Choice </h2>
        {{#each about}}
          <p> {{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color:#eee;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> Team </h2>
        {{#each team}}
          <p> {{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> Contact Us </h2>
        <h3> Merchants </h3>
        <p> For merchants interested in hiring workers, contact us at info@getchoice.io. </p>
        <h3> Drivers </h3>
        <p> For drivers interested in flexible work, competitive rate work complete our form and we will be in touch shortly.
        <h3> Everyone Else </h3>
        <p> For all others interested in our mission of optimizing work day opportunities to increase earnings and flexible schedules. We have openings for select positions. Please contact us at info@getchoice.io. </p>
      </div>
    </div>
  </div>
</div>