<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> About Choice </h2>
        {{#each about}}
          <p> {{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color:#eee;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> Team </h2>
        
        <p> Choice was started by a team of ex-Google and startup veterans passionate about leveraging technology to better match talent with opportunity. We saw a need to reduce the friction of matching employers with prospective professionals.</p>


        <div class="row">
          
          <div class="col-md-6">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/036/1a4/26e5815.jpg" class="feature-image profile-pic">
            <p class="profile-name"> Chris Fong </p>
          </div>
          <div class="col-md-6">
            <img src="assets/images/neil-profile-pic.jpg" class="feature-image profile-pic">
            <p class="profile-name"> Neil Sharma </p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> Education Opportunities </h2>

        <p> For those looking to start their career in digital marketing, please check out the <a href="digital-marketing-training-program.html"> Digital Marketing Training Program</a> for details. You can apply to the program <a href="http://getchoice.io/digital-marketing"> here</a>.</p>
      </div>
    </div>
  </div>
</div>

