<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> About Choice </h2>
        {{#each about}}
          <p> {{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color:#eee;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> Team </h2>
        <!--
        <p>Choice was started by 
          <a href="https://www.linkedin.com/in/cfong"> Christopher Fong </a> and 
          <a href="https://www.linkedin.com/in/neilshar"> Neil Sharma </a> 
          due to their passions to bridge the digital divide in the San Francisco Bay Area. </p>
        -->
        <p> Choice was started by a team of ex-Google and startup veterans passionate about leveraging technology to better match talent with opportunity. </p>
      </div>
    </div>
  </div>
</div>
