<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> About Choice </h2>
        {{#each about}}
          <p> {{this}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" style="background-color:#eee;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> Team </h2>
        <p>Choice was started by 
          <a href="https://www.linkedin.com/in/cfong"> Christopher Fong </a> and 
          <a href="https://www.linkedin.com/in/neilshar"> Neil Sharma </a> 
          due to their passions to bridge the digital divide in the San Francisco Bay Area. </p>
        <p> We are focused on improving income and opportunity equality by helping workers grow in existing jobs or find new jobs. We are backed by different technology executives passionate about leveraging new tools and platforms to dramatically expand the quality of life of workers in the on-demand economy and other sectors. Please get in touch if you would like to join our team or help us in our mission in a different way. </p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-header"> Contact Us </h2>
        
        <p> Reach out for any reason: info@getchoice.io. </p>

        
      </div>
    </div>
  </div>
</div>