<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1> h1 </h1>
        <h2> h2 </h2>
        <h3> h3 </h3>
        <h4> h4 </h4>
        <p> p </p>

        <h2 class="section-header"> About Choice </h2>
        {{#each about}}
          <p> {{this}}</p>
        {{/each}}
        <h2 class="section-header"> Team </h2>
        {{#each team}}
          <p> {{this}}</p>
        {{/each}}
        <h2 class="section-header"> Contact Us </h2>
      </div>
    </div>
  </div>
</div>