<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <h2 class="section-caption"> Digital Marketing Training Program </h2>
        <p> Choice's Digital Marketing Training Program helps ambitious professionals with no marketing experience land a paid job as a digital marketer. The online program enables ambitious professionals to learn the skills and get the experience needed to find and excel at digital marketing jobs. </p>

        <p> Unlike other training programs, the Digital Marketing Training Program’s primary objective is not to give you yet another certificate, but to jumpstart your career with a full-time, paid position. Every student is placed in an apprenticeship where he or she can work with experienced industry professionals. Upon the completion of the apprenticeship program, paid internships and/or full time positions will be available. </p>

        <p> <a href="https://medium.com/@christopherfong/ex-googlers-bridge-digital-divide-through-marketing-apprenticeships-4f4207144a26#.j0zjrkle4"> Check out our Medium post for more details. </a> You can apply to the program <a href="/digital-marketing.html"> here</a>.</p>
          
        
      </div>
    </div>
  </div>
</div>
