

<footer>
  <div class="container">


    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="row" id="footer-links">
          <div class="col-xs-3">
            <a href="./terms.html" class="footer-link">Terms</a>
          </div>
          <div class="col-xs-3">
            <a href="./privacy.html" class="footer-link">Privacy</a>
          </div>
          <div class="col-xs-3">
            <a href="./about.html" class="footer-link">About</a>
          </div>
          <div class="col-xs-3">
            <a href="./contact.html" class="footer-link">Contact</a>
          </div>


      </div>
    </div>

    
  </div>
</footer>

