<header class="desktop-header navbar-fixed-top">

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <a href="./index.html" id="logo-link"> 
          <div id="logo-container">
            <img src={{logo-src}} id="logo-image">
            <span id="logo-text"> Choice </span>
          </div>
        </a>

        
        <ul class="header-links">
          <li>
            <a href="join-the-network.html"> REGISTER AS AN EXPERT </a>
          </li>
          <li>
            <a href="about.html"> ABOUT </a>
          </li>
          <li>
            <a href="contact.html"> CONTACT </a>
          </li>

        </ul>
        
      </div>
    </div>

</header>


<header class="mobile-header">

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <a href="./index.html" id="logo-link"> 
          <div id="logo-container">
            <img src={{logo-src}} id="logo-image">
            <span id="logo-text"> Choice </span>
          </div>
        </a>

        
        <ul class="header-links">
          <li>
            <a href="about.html"> ABOUT </a>
          </li>
          <li>
            <a href="join-the-network.html"> JOIN US </a>
          </li>
          <li>
            <a href="contact.html"> CONTACT </a>
          </li>

        </ul>
        
      </div>
    </div>

</header>