<header class="desktop-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="./index.html" id="logo">
          <img src="{{logo_file}}" id="logo-image">
        </a>

        <!--
        <ul class="header-links">
          <li>
            <a href="partners.html"> FOR RETAILERS </a>
          </li>
          <li>
            <a href="index.html"> FOR DRIVERS </a>
          </li>
        </ul>
      -->
      </div>
    </div>
</header>

<!--
<header class="mobile-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="./index.html" id="logo">
          <img src="{{logo_file}}" id="logo-image">
        </a>

        <ul class="header-links">
          <li>
            <a href="partners.html"> FOR RETAILERS </a>
          </li>
          <li>
            <a href="index.html"> FOR DRIVERS </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
-->
