<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <a href="./index.html" id="logo">
            <img src="{{logo_file}}" id="logo-image">
          </a>
        </div>
    </div>
  </div>
</header>
