
<header class="desktop-header navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <a href="./index.html" id="logo"> 
          <img src="images/assets/choice-logo.png" id="logo-icon">
          Choice
        </a>

        
        <ul class="header-links">
          <li>
            <a href="about.html"> ABOUT US </a>
          </li>
          <li>
            <a href="join-the-network.html"> WORK WITH US </a>
          </li>
          <li>
            <a href="contact.html"> CONTACT </a>
          </li>
          <li>
            <a href="new.html" class="button button--green" id="header--get-started-button"> Tell me more! </a>
          </li>
        </ul>
        
      </div>
    </div>

</header>

<!--
<header class="mobile-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="./index.html" id="logo">
          <img src="{{logo_file}}" id="logo-image">
        </a>

        <ul class="header-links">
          <li>
            <a href="partners.html"> FOR RETAILERS </a>
          </li>
          <li>
            <a href="index.html"> FOR DRIVERS </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
-->
