<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="terms">
<h2> PRIVACY POLICY </h2>
<h3> Last Updated: August 18, 2015 </h3>

<p>This Privacy Policy explains how information about you is collected, used and disclosed by Choice Labs, Inc. ("Choice"). This Privacy Policy applies to information we collect when you use our website, mobile application and other online products and services (collectively, the "Services") or when you otherwise interact with us.</p>

<p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our homepage or sending you a notification). We encourage you to review the Privacy Policy whenever you access the Services or otherwise interact with us to stay informed about our information practices and the ways you can help protect your privacy.</p>

<h3> Collection of Information </h3>

<h4> Information You Provide to Us </h4>

<p> We collect information you provide directly to us. For example, we collect information when you create an account, participate in any interactive features of the Services, fill out a form, sign up for a phone consultation, apply for a job, communicate with us via third party social media sites, request customer support or otherwise communicate with us. The types of information we may collect include your name, physical address, email address, phone number, desired work schedule, driver’s license, vehicle insurance information and any other information you choose to provide. </p>

<h4> Information We Collect Automatically When You Use the Services </h4>

<p> When you access or use our Services, we automatically collect information about you, including: </p>

<ul>
  <li> <span style="font-weight: bold"> Log Information: </span> We log information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Services. </li>
  <li> <span style="font-weight: bold">Device Information:</span>  We collect information about the computer or mobile device you use to access our Services, which may include the hardware model, operating system and version, unique device identifiers and any mobile network information. </li>
  <li> <span style="font-weight: bold">Location Information: </span> We may collect information about the location of your device each time you access or use our mobile application to make deliveries or otherwise consent to the collection of this information. For more details, please see "Your Choices" below. </li>
  <li> <span style="font-weight: bold">Information Collected by Cookies and Other Tracking Technologies: </span> We and our service providers use various technologies to collect information, including cookies and web beacons. Cookies are small data files stored on your hard drive or in device memory that help us improve our Services and your experience, see which areas and features of our Services are popular, deliver content tailored to your interests and count visits. Web beacons are electronic images that may be used in our Services or emails and help deliver cookies, count visits and understand usage and campaign effectiveness. For more information about cookies, and how to disable them, please see "Your Choices" below. </li>
</ul>

<h4> Information We Collect from Other Sources </h4>
<p> We may also obtain information from other sources and combine that with information we collect through our Services. For example, we may collect information about you from third parties, including but not limited to identity verification services, background check services, credit bureaus, mailing list providers and publicly available sources. If you create or log into your account through a third-party service, such as by using your Google account, we will have access to information from that site or service, such as your name, account information and friends lists, in accordance with the authorization procedures determined by the third party. </p>


<h3> Use of Information </h3>
<p> We may use information about you for various purposes, including to: </p>
<ul>
  <li> Provide, maintain and improve our Services; </li>
  <li> Send you technical notices, updates, security alerts and support and administrative messages; </li>
  <li> Respond to your comments, questions and requests and provide customer service; </li>
  <li> Communicate with you about products, services, offers and promotions offered by Choice and others, and provide news and information we think will be of interest to you; </li>
  <li> Monitor and analyze trends, usage and activities in connection with our Services; </li>
  <li> Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests; </li>
  <li> Detect, investigate and prevent fraudulent and illegal activities and protect the rights and property of Choice and others; </li>
  <li> Link or combine your information with information we get from others to help understand your needs and provide you with better service; and </li>
  <li> Carry out any other purpose for which the information was collected. </li>
</ul>

<p> Choice is based in the United States and the information we collect is governed by U.S. law. By accessing or using the Services or otherwise providing information to us, you consent to the processing and transfer of information in and to the U.S. and other countries, where you may not have the same rights as you do under local law. Where this is the case, we will take appropriate measures to protect information about you in accordance with this Privacy Policy. </p>

<h3> Sharing of Information </h3>

<p> We may share information about you as follows or as otherwise described in this Privacy Policy: </p>
<ul>
  <li>With vendors, consultants and other service providers who need access to such information to carry out work on our behalf; </li>
  <li> With third parties for their own services and marketing purposes, unless you opt out of this type of sharing in the manner specified in “Your Choices” below; </li>
  <li> In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation or legal process; </li>
  <li> If we believe your actions are inconsistent with our user agreements or policies, or to protect the rights, property and safety of Choice or others; </li>
  <li> In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business by another company; </li>
  <li>Between and among Choice and its current and future parents, affiliates, subsidiaries and other companies under common control and ownership; and </li>
  <li> With your consent or at your direction. </li>
</ul>
<p> We may also share aggregated or de-identified information, which cannot reasonably be used to identify you. </p>

<h3>Advertising and Analytics Services Provided by Others </h3>
<p> We may allow others to provide analytics services and serve advertisements on our behalf across the Internet and in applications.  These entities may use cookies, web beacons, device identifiers and other technologies to collect information about your use of the Services and other websites and applications, including your IP address, web browser, mobile network information, pages viewed, time spent on pages or in apps, links clicked and conversion information.  This information may be used by Choice and others to, among other things, analyze and track data, determine the popularity of certain content, deliver advertising and content targeted to your interests on our Services and other websites and applications and better understand your online activity.  For more information about interest-based ads, or to opt out of having your web browsing information used for behavioral advertising purposes, please visit http://www.aboutads.info/choices.  </p>

<p> We may also work with other websites, applications or platforms (such as Facebook) to serve ads to you as part of a customized campaign, unless you notify us that you prefer not to have information about you used in this way.  To opt out please send an email to info@getchoice.io with the request. </p>

<h3> Security </h3>
<p> Choice takes reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction. </p>
<h3> Your Choices </h3>
<h4> Account Information </h4>
<p> You may update, correct or delete information about you at any time. If you wish to delete or deactivate your account, please email us at info@getchoice.io, but note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of information about you for a certain period of time. </p>
<h4> Location Information </h4>
<p> When you download or first launch any of our mobile applications that collect location information, you will be asked to consent to the application's collection of this information. If you initially consent to our collection of location information, you can subsequently stop the collection of this information at any time by changing the preferences on your mobile device. You may also stop our collection of location information by following the standard uninstall process to remove all of our mobile applications from your device. </p>
<h4> Cookies </h4>
<p> Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Services.</p>
<h4> Promotional Communications </h4>
<p> You may opt out of receiving promotional emails or text messages from Choice by following the instructions in those emails or text. If you opt out, we may still send you non-promotional communications, such as those about your account or our ongoing business relations.   </p>
<h4> Your California Privacy Rights </h4>
<p> California law permits residents of California to request certain details about how their information is shared with third parties for direct marketing purposes. If you are a California resident and would like to make such a request, please contact us at info@getchoice.io. </p>

<h3> Contact Us </h3>
<p> If you have any questions about this Privacy Policy, please contact us at info@getchoice.io. </p>






        </div>
      </div>
      
    </div>
  </div>
</div>
