<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box">
          <h2 class="box__title"> {{title}} </h2>
          <h3 class="box__label"> Email </h3>
          <p class="box__label_content"> {{email}} </p>
          <h3 class="box__label"> Phone </h3>
          <p class="box__label_content"> {{phone}} </p>
        </div>
      </div>
    </div>
  </div>
</div>