<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box">
          <h2 class="box__title"> {{title}} </h2>
          <p class="center"> {{email}} </p>
          <p class="center"> {{phone}} </p>
        </div>
      </div>
    </div>
  </div>
</div>