<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1 class="section-header"> Contact </h1>
      <label> Email </label>
      <p> {{email}} </p>
      <label> Phone </label>
      <p> {{phone}} </p>
    </div>
  </div>
</div>
