<div class="jumbotron">
  <div class="container">

    <!--
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="box">
          <h2 class="box__title"> {{title}} </h2>
          <p class="box__message"> {{message}} </p>
          <a id="application-button" class="button button--green" href='http://goo.gl/forms/eZqyKSvOPu'>Start Choice Employment Application</a>
          <!--<button type="button" class="button button--green" id="appointment-booking-button"> Schedule an informational interview </button>
        </div>
      </div>
    </div>
    -->


    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="box">
          <h2 class="box__title"> Thanks! </h2>
          <p class="box__message"> We'll reach out shortly. In the meantime, if you have any questions, please feel free to write to us at info@getchoice.io. </p>
        </div>
      </div>
    </div>



  </div>
</div>