<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box">
          <h2 class="box__title"> Thanks! </h2>
          <p style="text-align:center; font-weight:300;">We'll reach out shortly. In the meantime, if you have any questions, 
          please feel free <a href="contact.html"> contact us </a>. </p>
        </div>
      </div>
    </div>



  </div>
</div>