<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="box">
          <h2 class="box__title"> {{title}} </h2>
          <p class="box__message"> {{message}} </p>
          <button type="button" class="button button--green"> <a href='http://goo.gl/forms/eZqyKSvOPu'>Start Choice Employment Application</a></button>
          <!--<button type="button" class="button button--green" id="appointment-booking-button"> Schedule an informational interview </button> -->
        </div>
      </div>
    </div>


  </div>
</div>