<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <a href="./terms.html" class="footer-link">Terms</a>
      </div>
      <div class="col-xs-4">
        <a href="./privacy.html" class="footer-link">Privacy</a>
      </div>
      <div class="col-xs-4">
        <a href="./simple_contact.html" class="footer-link">Contact</a>
      </div>
</footer>
