<header>
  <div class="container">
    <a href="/" id="logo"><img alt="Choice company driving car logo" src="assets/images/choice_logo.png" id="logo-image"></a>
    <ul class="navbar navbar-right nav">
      <li>
        <!-- <a href="/merchants" class="button" id="merchant-button">For Companies</a> -->
      </li>
    </ul>
  </div>
</header>
