<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="terms">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="terms">
          <h2> CHOICE LABS, INC. </h2>
          <h2> TERMS OF USE </h2>
          <h3> Last Updated:  August 9, 2015 </h3>
          <p> PLEASE READ THESE TERMS OF USE ("TERMS") CAREFULLY. BY ACCESSING OR USING THIS OUR SERVICES OR CONTENT OR BY OR SIGNING UP FOR AN ACCOUNT WITH CHOICE LABS, INC. ("CHOICE," "we" or "us") ON ANY CHOICE WEBSITE YOU AGREE TO THESE TERMS AND ALL ADDITIONAL TERMS INCORPORATED HEREIN BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE OUR SERVICES OR CONTENT. </p>
          <p> THESE TERMS REQUIRE YOU TO ARBITRATE DISPUTES WITH CHOICE, AND LIMIT CHOICE’S LIABILITY AND THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM CHOICE. </p>

          <p> These Terms comprise an agreement between Choice and you regarding your access to and use of any services provided by us, including, but not limited to, our platform services, websites, mobile applications, and all content provided by us and contained thereon (collectively, the “Services”). These Terms do not alter in any way the terms or conditions of any other agreement you may have with Choice for products, services or otherwise. For example, these Terms do not apply to software you may download from any Services (the use of such software is governed by the agreement you accept when you download, install, register or use such software). If you are using any Services on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity's behalf and that such entity agrees to indemnify you and Choice for violations of these Terms. </p>

<p>We may modify these Terms at any time. If we modify these Terms, we will provide you with notice of such changes by posting the revised version on the Services and may also notify you by other means, such as by providing a notification to you by email. By continuing to use any Services after such notice, you confirm your acceptance of the modified Terms. If you do not agree to the modified Terms, you must stop using the Services.</p>

<p> By accessing and using any Services, you agree to the processing and transfer of information in and to the U.S. and other countries.  </p>

<h3> 1.  Information Sharing; Privacy Policy </h3>

<p> Choice collects information from you for the purposes of qualifying you as a job candidate and connecting you with potential employers.  Choice shares the information it collects from you with third party service providers, such as background check agencies, that help Choice qualify you as a job candidate, with potential employers and with other third parties in connection with Choice’s provision of the Services.  By using the Services, you hereby consent to such collection and use.  Without limiting the foregoing, please refer to our Privacy Policy for information on how Choice collects, uses and discloses information about our users. </p>


<h3>2.  Eligibility, Registration, and Account </h3>

<p>The Services are not targeted towards, nor intended for use by, anyone under the age of 16. If you are between the ages of 16 and 18, or the age of legal majority under applicable law, you may only use the Services under the supervision of a parent or legal guardian who agrees to be bound by these Terms. By using the Services, you represent and warrant that you (a) are not identified on the Office of Foreign Assets Control’s Specially Designated Nationals List (“SDN List“), (b) are not placed on the U.S. Department of Commerce’s Denied Persons List or Entity List or any other U.S. export control list, (c) will not use IP proxying or other methods to disguise the place of your residence, and (d) have not previously had your license to the Services suspended or terminated. </p>

<p>To access and use certain features of the Services, and In consideration of your use of the Services, you agree: (i) to provide accurate, current and complete information about yourself as may be requested by any signup forms or during account registration (collectively, "Signup Data"); (ii) to maintain and promptly update your Signup Data as necessary to keep it accurate, current and complete; (iii) if you register for an online account, to maintain the security of your password and accept all risks of unauthorized access to your account and the information you provide to Choice; and (iv) promptly notify Choice if you discover or otherwise suspect any security breaches related to the Services. </p>

<p>You are responsible for the security of your accounts and any activities performed under your accounts, whether or not such actions were authorized by you. YOU UNDERSTAND THAT ANY PERSON WITH YOUR USERNAME AND PASSWORD WILL BE ABLE TO ACCESS AND USE YOUR ACCOUNT, AND MAY BE ABLE TO ACCESS YOUR SIGNUP DATA AND OTHER PERSONAL INFORMATION ASSOCIATED WITH YOUR ACCOUNTS. AS A RESULT, YOU WILL NOT: (I) SHARE YOUR ACCOUNT PASSWORDS WITH ANY OTHER PERSON; OR (II) PROVIDE ACCESS TO YOUR ACCOUNTS OR THE SERVICE TO ANY OTHER PERSON.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT USING THE SAME PASSWORD FOR YOUR CHOICE ACCOUNT AS YOU USE FOR ANY THIRD PARTY ACCOUNT CONSTITUTES A SECURITY RISK.  YOU ACCEPT ALL RISKS OF UNAUTHORIZED ACCESS TO YOUR ACCOUNTS. CHOICE IS NOT RESPONSIBLE FOR ANY UNAUTHORIZED ACCESS TO YOUR ACCOUNTS OR OTHER LOSS OR DISSEMINATION OF YOUR SIGNUP DATA.  </p>

<p>If you suspect any security breaches related to your user account, please notify us by submitting a ticket using our <a href="contact.html"> Contact </a> form.</p>

<h3>3.    Copyright and Limited License</h3>

<p>Unless otherwise indicated on the Services or by Choice, the Services and all content and other materials on the Services, including, without limitation, the Choice logo, and all text, images, videos, information and designs on or made available through the Services (collectively, "Services Materials") are the proprietary property of Choice or its licensors or users and are protected by U.S. and international copyright laws. </p>

<p>Choice grants you a non-exclusive, non-sublicensable, non-transferable license to access and use the Services and Services Materials for your informational, non-commercial and personal use only (non-commercial use does not prohibit use of the Services or Services Materials for purposes of seeking employment through the Services) . Such license is subject to these Terms and does not include, and you will not do, any of the following: (a) any resale or commercial use of the Services or the Services Materials; (b) the distribution, public performance or public display of any Services Materials; (c) modifying or otherwise making any derivative uses of the Services or the Services Materials, or any portion thereof; (d) use of any data mining, robots or similar data gathering or extraction methods; (e) downloading (other than the page caching) of any portion of the Services, the Services Materials or any information contained therein, except for Downloadable Content (as defined below); or (f) any use of the Services or the Services Materials other than for their intended purposes. Any use of the Services or the Services Materials other than as specifically authorized in these Terms, without the prior written permission of Choice, is strictly prohibited and will automatically terminate the license to you granted in these Terms without notice or other action by either party. Unless explicitly stated in these Terms, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. Choice may revoke this license at any time.</p>

<p>Notwithstanding anything to the contrary in these Terms, the Services or the Services Materials may contain software components that are subject to separate license terms, in which case those license terms will apply to the access and use of such software components.</p>

<h3>4.  Downloadable Content</h3>

<p>Choice may permit you to download certain wallpapers, icons, logos or other content from any Services (“Downloadable Content”). For clarity, Downloadable Content includes only content that Choice specifically designates on the Services as available for download by users, even though you may be able to copy or download other content through your web browser or by other means. Downloadable Content does not include any software that Choice may allow you to download from any Services (the use of such software is governed by the agreement you accept when you download, install, register or use such software). Choice grants you a non-exclusive, non-sublicensable, non-transferable license to download, reproduce and use the Downloadable Content for your own non-commercial and personal use only, provided that you use the Downloadable Content (a) in accordance with applicable law, (b) in a manner that does not disparage or otherwise harm any of Choice’s products, services or brands, and (c) otherwise in accordance with the usage guidelines and instructions that Choice may make available on the Services from time to time. Without limiting the foregoing, you may not use any Downloadable Content for any business or other commercial purposes (business or commercial purposes does not exclude use for purposes of seeking employment through the Services and Services) without Choice’s prior written approval. You are solely responsible for your use of Downloadable Content. All goodwill arising from your use of the Downloadable Content will inure solely to the benefit of Choice. Choice may revoke this license at any time.</p>

<h3> 5.  Trademarks </h3>

<p>"CHOICE,"  the Choice logos and any other Choice product or service name or slogan contained on the Services are trademarks of Choice, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Choice or the applicable trademark holder. You may not use any metatags or any other "hidden text" utilizing "Choice" or any other name, trademark or product or service name of Choice without our prior written permission. In addition, the look and feel of the Services, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of Choice and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and company names or logos mentioned on the Services are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by us. </p>

<h3> 6.  Hyperlinks </h3>

<p>You may create a text hyperlink to any Services for non-commercial purposes, provided such link does not portray Choice or any of its products or services in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a Choice logo or other proprietary graphic of Choice to link to any Services without the written permission of Choice. Further, you may not use, frame or utilize framing techniques to enclose any Choice trademark, logo or other proprietary information, including the images found on the Services, the content of any text, or the layout/design of any page or form contained on any page on the Services, without Choice's prior written consent.</p>

<h3> 7.    Third-Party Content</h3>

<p>Choice may provide third-party content on the Services and may provide links to web pages and content of third parties (collectively, "Third-Party Content") as a service to those interested in this information. Choice does not control, endorse or adopt any Third-Party Content and makes no representation or warranty of any kind regarding the Third-Party Content, including without limitation regarding its accuracy or completeness. You acknowledge and agree that Choice is not responsible or liable in any manner for any Third-Party Content and undertakes no responsibility to update or review any Third-Party Content. When you leave any Services, you should be aware that our terms and policies no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any site to which you navigate from any Services.</p>

<h3>8.    User Content</h3>

<p>The Services may include interactive features and areas that allow users to create, post, transmit or store content (collectively, "User Content"). You understand that your User Content may be viewable by other users of the Services or by the public. You agree that you are solely responsible for your User Content and for your use of such interactive areas, and that you use them at your own risk.</p>

<p>By using the interactive areas of the Services, you agree not to post, upload to, transmit, distribute, store, create or otherwise publish through the Services any of the following:</p>

<p>User Content that is untruthful, unlawful, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable; </p>

<p>User Content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law, including but not limited to any copyright law;</p>

<p>User Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party. By posting any User Content, you represent and warrant that you have the lawful right to distribute and reproduce such User Content;</p>

<p>User Content that contains or depicts any statements, remarks or claims that do not reflect your honest views and experiences; </p>

<p>User Content that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity; </p>

<p>Unsolicited promotions, political campaigning, advertising or solicitations;</p>

<p>Private information of any third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers and credit card numbers;</p>

<p>Viruses, corrupted data or other harmful, disruptive or destructive files; or</p>

<p>User Content that, in the sole judgment of Choice, is objectionable or which restricts or inhibits any other person from using or enjoying the Services, or which may expose Choice or our users to any harm or liability of any type.</p>

<p>You further agree that you will not violate any law, contract, intellectual property or other third-party right or commit a tort, and that you are solely responsible for your conduct while on the Services. You agree that you will abide by these Terms and will not: </p>

<p>Use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Services, or that could damage, disable, overburden or impair the functioning of the Services in any manner;</p>

<p>Send any unsolicited or unauthorized advertising, solicitations, promotional materials, spam, junk mail, chain letters or pyramid schemes, or harvest or collect the email addresses or other contact information of other users from the Services for the purpose of sending spam or other commercial messages; </p>

<p>Use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access the Services or to extract data;</p>

<p>Reverse engineer any aspect of the Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any area, content or code of the Services (except as otherwise expressly permitted by law);</p>

<p>Use or attempt to use another user's;</p>

<p>Attempt to circumvent any content filtering techniques we employ, or attempt to access any service or area of the Services that you are not authorized to access;</p>

<p>Engage in any harassing, intimidating, predatory or stalking conduct;</p>

<p>Develop any third-party applications that interact with User Content and the Services without our prior written consent; or</p>

<p>Use the Services for any illegal or unauthorized purpose or engage in, encourage, or promote any activity that violates these Terms.</p>

<p>Choice is not responsible or liable for the conduct of, or your interactions with, any users of the Services (whether online or offline), nor is Choice responsible or liable for any associated loss, damage, injury or harm. Enforcement of these Terms is solely in Choice's discretion, and the absence of enforcement of these Terms in some instances does not constitute a waiver of Choice's right to enforce these Terms in other instances. At the same time, Choice encourages you to report User Content that violates these Terms by completing and submitting our Support Center form. In addition, these Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that the Services will not contain any content that is prohibited by these Terms. As a provider of interactive services, Choice is not liable for any statements, representations or User Content provided by our users through the interactive area of the Services. Although Choice has no obligation to screen, edit or monitor any User Content, Choice reserves the right, and has absolute discretion, to remove, screen or edit any User Content posted or stored on the Services at any time and for any reason without notice, and you are solely responsible for creating backup copies of and replacing any User Content you post or store on the Services at your sole cost and expense.</p>

<p>Any use of the Services in violation of these Terms may result in, among other things, termination or suspension of your rights to use the Services.</p>

<h3>9.    Rights in User Content</h3>

<p>You retain all ownership rights in the User Content you submit to Choice. By submitting or posting User Content on the Services, you grant Choice a non-exclusive, royalty-free, perpetual and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such User Content in connection with the Services.</p>

<p>By submitting or posting User Content through the Services, you represent and warrant that (a) such User Content is non-confidential; (b) you own and control all of the rights to the User Content that you post or you otherwise have all necessary rights to post such User Content to the Services; (c) the User Content is accurate and not misleading or harmful in any manner; and (d) the User Content, and your use and posting thereof, does not and will not violate these Terms or any applicable law, rule or regulation.</p>

<h3>10.   Feedback</h3>

<p>You can submit questions, comments, suggestions, ideas, plans, notes, drawings, original or creative materials or other information or materials about Choice and the Services or any other products or services of Choice (collectively, "Feedback"). Feedback, whether submitted through any Services or otherwise, is non-confidential and shall become the sole property of Choice. Choice shall own exclusive rights, including all intellectual property rights, in and to such Feedback and shall be entitled to the unrestricted use and dissemination of this Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you. </p>

<h3>11.   Indemnification</h3>

<p>You agree to defend, indemnify and hold harmless Choice, its affiliates, and their respective directors, officers, employees, agents and representatives (collectively, the "Choice Parties"), from and against any claims, damages, losses, liabilities, costs and expenses (including reasonable attorneys' fees) arising out of your use of the Services, including without limitation any actual or threatened suit, demand or claim arising out your violation of these Terms or your violation of the rights of any third party. </p>

<h3>12.   Disclaimer </h3>

<p>THE SERVICES (INCLUDING THE SERVICES MATERIALS AND DOWNLOADABLE CONTENT) ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. CHOICE DISCLAIMS ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, AND ANY REPRESENTATIONS AND WARRANTIES THAT THE SERVICES, THE SERVICES MATERIALS OR DOWNLOADABLE CONTENT IS ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE.</p>

<p>CHOICE IS NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS ON THE SERVICES. WHILE CHOICE ATTEMPTS TO MAKE YOUR ACCESS TO AND USE OF THE SERVICES SAFE, CHOICE CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SERVICES OR ITS SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; THEREFORE, YOU SHOULD USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES FROM ANY DOWNLOAD.</p>

<p>Choice reserves the right to change any and all content contained in the Services and to modify, suspend or discontinue, temporarily or permanently, the Services or any features or functionality of the Services at any time without notice and without obligation or liability to you. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by Choice. Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.</p>


<h3>13.   Limitation of Liability </h3>

<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW: (A) IN NO EVENT SHALL ANY OF THE CHOICE PARTIES BE LIABLE FOR ANY INCIDENTAL, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES ARISING FROM LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN CONNECTION WITH THE SERVICES (INCLUDING THE SERVICES MATERIALS AND DOWNLOADABLE CONTENT) OR YOUR USE THEREOF; AND (B) IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE CHOICE PARTIES EXCEED ANY COMPENSATION YOU PAY, IF ANY, TO CHOICE FOR ACCESS TO OR USE OF THE SERVICES.</p>

<h3>14.   Applicable Law; Arbitration</h3>

<p>PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO SUBMIT TO BINDING ARBITRATION (JURY TRIAL WAIVER) OF ANY AND ALL DISPUTES (OTHER THAN SPECIFIED INTELLECTUAL PROPERTY CLAIMS AND SMALL CLAIMS) WITH CHOICE AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM CHOICE (NO CLASS ARBITRATIONS, CLASS ACTIONS OR REPRESENTATIVE ACTIONS OR ARBITRATIONS). 
You and Choice agree to waive any right to a jury trial, or the right to have any Dispute resolved in any court, and instead accept the use of binding arbitration (which is the referral of a Dispute to one or more impartial persons for a final and binding determination); provided, however, that you have the right to litigate any Dispute in small claims court, if all the requirements of the small claims court, including any limitations on jurisdiction and the amount at issue in the Dispute, are satisfied. You agree to bring a Dispute in small claims court in San Mateo County, California or, if you reside in the U.S., in a small claims court in your county of residence. “Dispute” as used in this Section 15 means any dispute, cause of action, claim, or controversy arising out of or in any way related to Choice, these Terms, the subject matter of these Terms, or access to and use of the Services, including but not limited to personal injury disputes and disputes that involve third parties (such as developers of Content), except any dispute, cause of action, claim, or controversy relating to your or Choice’s intellectual property (such as trademarks, trade dress, domain names, trade secrets, copyrights, and/or patents). 
You and Choice agree that any Dispute is personal to you and Choice, and that any Dispute shall only be resolved by an individual arbitration and shall not be brought as a class arbitration, a class action, or any other representative proceeding. Neither party agrees to class arbitration, or an arbitration where a person brings a Dispute as a representative of any other person or persons. Neither you nor Choice agree that a Dispute can be brought as a class or representative action whether inside or outside of arbitration, or on behalf of any other person or persons. </p>

<p>You and Choice agree that these Terms affect interstate commerce and that the enforceability of Section 14 shall be governed by, construed, and enforced, both substantively and procedurally, by the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (“FAA”) to the maximum extent permitted by applicable law. </p>

<p>The arbitrator, Choice, and you shall maintain the confidentiality of any proceedings, including but not limited to, any and all information gathered, prepared, and presented for purposes of the arbitration or related to the Dispute(s) therein. The arbitrator shall have the authority to make appropriate rulings to safeguard that confidentiality, unless the law provides to the contrary. </p>

<p>Our goal is to resolve claims fairly and quickly. Accordingly, for any Dispute that you have against Choice, you agree to first contact Choice and attempt to resolve the claim informally by sending a written notice of your claim (“Notice”) to Choice. The Notice to Choice must be sent by certified mail addressed to: Choice Labs, Inc., 300 Brannan Street, Suite 308, San Francisco, CA 94107.  The Notice must (a) include your name, residence address, and the email address and/or mobile telephone number associated with your account; (b) describe the nature and basis of the claim; and (c) set forth the specific relief sought. If you and Choice cannot reach an agreement to resolve the claim within 30 days after such Notice is received, then either party may, as appropriate in accordance with this Section 14, commence an arbitration proceeding or file a claim in court. You and Choice agree that any Dispute must be commenced or filed within one year after such claim arose; otherwise, the Dispute is permanently barred. </p>

<p>In the event that you and Choice cannot resolve a Dispute and you do not pursue your claims through small claims court, you or Choice shall promptly submit the Dispute to binding arbitration at the office of the American Arbitration Association (“AAA”). In the event AAA declines or is unable to administer the arbitration, you and Choice agree to use an arbitration forum or arbitrator that you and Choice mutually agree upon. If, after making a reasonable effort, you and Choice are not able to agree upon an arbitration forum or arbitrator, AAA or a court having proper jurisdiction will appoint an arbitration forum or arbitrator. The arbitration will be conducted in accordance with the AAA Consumer Arbitration Rules (“AAA Rules“”) then in effect. The AAA Rules and other information about AAA and arbitration are readily available at http://www.adr.org, by calling 1-800-778-7879, or by mail at 120 Broadway, Floor 21, New York, NY 10271. By entering into these Terms, you either (1) acknowledge that you have read and understand the AAA Rules or (2) waive reading the AAA Rules and waive any claim that the AAA Rules are unfair in any way. You and Choice agree that these Terms govern the arbitration, and that the applicable AAA Rules shall be subject to changes in procedures that AAA may make from time to time. </p>

<p>As limited by the FAA, these Terms, and the applicable AAA Rules, the arbitrator will have the exclusive power and jurisdiction to make all procedural and substantive decisions concerning the Dispute; provided, however, that this power does not include: (i) the power to determine the question of arbitrability, which power you and Choice agree shall be vested solely in a court of competent jurisdiction; or (ii) the power to conduct a class arbitration or a representative action, which is prohibited by these Terms (as stated above). The arbitrator may only conduct an individual arbitration, and may not consolidate more than one person’s claims and may not preside over any form of representative or class proceeding, or any proceeding on behalf of or involving more than one person or persons. </p>

<p>This dispute resolution provision in Section 15 shall survive termination of these Terms.</p>

<h3>15.   Termination </h3>

<p>Choice reserves the right to suspend, remove, discontinue, disable your access to the Services at any time and without notice you. Further, either party may terminate these Terms at any time immediately upon notice to the other party. In no event will Choice be liable for the removal of or disabling of access to any portion or feature of the Services or for terminating these Terms. Upon termination of these Terms, all licenses granted to you will terminate, you will cease and remove all uses of Downloadable Content, and you will stop using the Services. Upon termination of these Terms, Sections 3 (only the first paragraph), 5, and 9-18 of these Terms will survive.</p>

<h3>16.   Severability </h3>

<p>If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions. </p>

<h3>17.   Assignment</h3>

<p>You may not assign or transfer these Terms to a third party, whether by operation of law or otherwise, without the prior written consent of Choice, and any attempted assignment without such consent will be void. Choice may freely assign or transfer these Terms to a third party. Subject to the foregoing restriction on you, these Terms will be binding on and inure to the benefit of the parties and their respective successors and assigns.</p>

<h3>18.   Questions</h3>

<p>If you have any questions regarding these Terms or the Services, please contact us by using our Support Center form.</p>

        </div>
      </div>
      
    </div>
  </div>
</div>


<!-- script for importing markdown 
<script type="text/javascript">
  var converter = new showdown.Converter(),
  text = "#hi"

  html      = converter.makeHtml(text);
  $("#terms").append(html);
</script>
-->