<div class="jumbotron primary-navigation-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h3 class="primary-navigation-footer__description"> Need drivers? </h3> 
        <a class="primary-navigation-footer__link primary-navigation-footer__link--orange" href="partners.html"> BECOME A MERCHANT PARTNER </a>
      </div>
    </div>
  </div>
</div>