<div class="jumbotron">
  <div class="container">
    <img src="http://www.discoverflexa.com/assets/logos-b89f2d6c85a31e55b450ba51279b0618d3360cb3160c2b09c1f50153311eecce.jpg">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header"> Getting Started </h2>
      </div>

    </div>

    <div class="row" id="getting-started">
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/call.png">
        <h3 class="getting-started__step"> STEP 1 </h3>
        <p class="getting-started__title"> Schedule a free phone consultation </p>
        <p class="getting-started__description"> Sign up above for a 30 minute informational call to learn about your interests and availability. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/connect.png">
        <h3 class="getting-started__step"> STEP 2 </h3>
        <p class="getting-started__title"> We'll match you to jobs </p>
        <p class="getting-started__description"> Based on the information you provide, we'll match you with suitable driving jobs and guide you through the application process. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/choice-icon.png">
        <h3 class="getting-started__step"> STEP 3 </h3>
        <p class="getting-started__title"> Find more work on the Choice App </p>
        <p class="getting-started__description"> Use the Choice mobile app to find additional driving and on demand work from our partners. </p>
      </div>
    </div>
  </div>
</div>