<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h2 class="section-header"> Getting Started </h2>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <h3> STEP 1 </h3>
      <p> SCHEDULE A PHONE CONSULTATION </p>
    </div>
    <div class="col-md-4">
      <h3> STEP 2 </h3>
      <p> WE MATCH YOU TO JOBS </p>
    </div>
    <div class="col-md-4">
      <h3> STEP 3 </h3>
      <p> VIEW MORE JOBS ON THE CHOICE APP </p>
    </div>
  </div>
</div>
