<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header"> Getting Started </h2>
      </div>

    </div>

    <div class="row" id="getting-started">
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/call.png">
        <h3 class="getting-started__step"> STEP 1 </h3>
        <p class="getting-started__title"> Schedule a free phone consultation </p>
        <p class="getting-started__description"> Sign up above and we'll call you for a 30min informational conversation, where we'd learn about your interests and availability </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/connect.png">
        <h3 class="getting-started__step"> STEP 2 </h3>
        <p class="getting-started__title"> We'll match you to jobs </p>
        <p class="getting-started__description"> Based on the information you provide, we'll match you with our partner companies and walk you through the application process. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/choice-icon.png">
        <h3 class="getting-started__step"> STEP 3 </h3>
        <p class="getting-started__title"> View more jobs on the Choice App </p>
        <p class="getting-started__description"> Download our Choice iOS app and find even more on-demand work with other partners on our network. </p>
      </div>
    </div>
  </div>
</div>