
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row" id="hero-content">

      <div class="col-md-10 col-md-offset-1">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Hire an elite digital marketer </h1>
          <h4 class="choice-description"> Choice provides workers with personalized mentoring and apprenticeships to find and succeed in higher paying jobs. </h4>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 col-md-offset-4">
        <a href="/signup.html" class="button button--green"> Tell me more! </a>
      </div>
    </div>

  


    </div>
  </div>
</div>