
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-7">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Get trained by experts to advance your career </h1>
          <h4 class="choice-description"> Choice provides workers with personalized mentoring and apprenticeships to find and succeed in higher paying jobs. </h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>