<div id="black-overlay"></div>
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">

      <!--
      <div class="col-md-7">
        <h1 id="choice-slogan"> Drive with Choice </h1>
        <p class="choice-description"> Earn up to $35 an hour, even during off-peak times.</p>
        <p class="choice-description">Choice partners with multiple, hand-selected retailers to provide you with access to more jobs, increased efficiency, and higher pay. </p>
      </div>
    -->

      <div class="col-md-7">
        <div id="slogan-container">
          <h2 class="choice-slogan"> Drive with Choice </h2>
          <!-- <p class="choice-description"> Earn up to $35 an hour, even during off-peak times. </p>
          <p class="choice-description">There are many jobs available for a driver today. Have our experts guide you through which are the most suitable for you. </p>
        -->
          <p class="choice-description"> Our experts match you with driving jobs that pay up to $35/hour, even during off-peak times. </p>
          <!-- <p class="choice-description">Save your time and only apply for jobs that are suitable and matches your needs </p> -->

          <!-- <p class="choice-description"> We partner with several hand-selected retailers to provide you with access to more jobs and higher pay, even during off-peak hours.</p> -->
        </div>
      </div>


    </div>
  </div>
</div>