
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row" id="hero-content">

      <div class="col-md-10 col-md-offset-1">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Hire elite digital marketers </h1>
          <h4 class="choice-description"> We match you with a top tier marketer from our vetted talent pool to help grow your business. </h4>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 col-md-offset-4">
        <a href="/clients.html" class="button button--green"> I need a marketer </a>
      </div>
    </div>

  


    </div>
  </div>
</div>