
<div class="jumbotron" id="hero-section-jumbotron">
  <div class="container" id="hero-section">

    <div class="row">


      <div class="col-md-6">
        <div id="slogan-container">
          <h1 class="choice-slogan"> Drive with Choice </h1>
          <p class="choice-description"> Our experts match you with driving jobs that pay up to $35/hour, even during off-peak times. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="signup-form-placeholder"></div>
    </div>


    </div>
  </div>
</div>