<div class="jumbotron" id="getting-started-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header"> How Choice Works </h2>
      </div>

    </div>

    <div class="row" id="getting-started">
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/call.png">
        
        <p class="getting-started__title"> 1. &nbsp <a href="#signup-form-container"> Sign up for a free phone consultation </a> </p>
        <p class="getting-started__description"> We’ll schedule a 30 minute informational call to learn about your interests, availability, and goals. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/connect.png">
        
        <p class="getting-started__title"> 2. &nbsp Get matched with multiple jobs near you </p>
        <p class="getting-started__description"> Based on your information, we'll match you with suitable driving jobs and guide you through the application process. </p>
      </div>
      <div class="col-md-4">
        <img class="getting-started__image" src="assets/images/choice-icon.png">
        <p class="getting-started__title"> 3. &nbsp Download the Choice App for more flexible work</p>
        <p class="getting-started__description"> Use the Choice mobile app to find additional driving and on-demand work from our hand-selected partners. </p>
      </div>
    </div>
  </div>
</div>