<div class="jumbotron" id="how-it-works-container">
  <div class="container">
    <h2 class="section-header"> How it Works </h2>
    <div class="slider">

      <div id="slide1">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/pick_job.png" class="phone-screenshot">
          </div>
          <div class="col-md-5 col-md-offset-1 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Choose from a varity of jobs</h3>
              <p> Each job takes 1-4 hours and is optimized to maximize earnings.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="slide2">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/follow_steps_choose_order.png" class="phone-screenshot">
          </div>
          <div class="col-md-5 col-md-offset-1 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Simple instructions, clearly displayed</h3>
              <p>Complete dropoffs in any order you like, or follow our suggested route.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="slide3">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/ext_nav_opt.png" class="phone-screenshot">
          </div>
          <div class="col-md-5 col-md-offset-1 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Navigate with ease</h3>
              <p>Use your favorite navigation app to guide you to your destinations.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
