<div class="jumbotron" id="how-choice-works-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> How Choice Works </h4>
        <h2 class="section-caption"> From goals to measureable growth. </h2>
      </div>

    </div>

    <div class="row" id="how-choice-works">
      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/collaborate.png">
        <p class="how-choice-works__title"> 1. We work with you to determine your needs </p>
      </div>

      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/match.png">
        <p class="how-choice-works__title"> 2. Get hand-matched with a top digital marketer </p>
      </div>

      <div class="col-md-4">
        <img class="how-choice-works__image" src="assets/images/complete.png">
        <p class="how-choice-works__title"> 3. Collaborate with the expert and grow your business! </p>
      </div>

    </div>
  </div>
</div>