<div class="jumbotron" id="how-it-works-container">
  <div class="container">
    <h2 class="section-header"> How it Works </h2>
    <div class="slider">

      <div id="slide1">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/pick_job.png" height="500" width="244">
          </div>
          <div class="col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Pick your job</h3>
              <p>A single package pickup, and multiple drop-off locations to minimize your time and maximize your earnings.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="slide2">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/follow_steps_choose_order.png" height="500" width="244">
          </div>
          <div class="col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Simple steps, displayed clearly</h3>
              <p>We give you a list of deliveries, you get to choose the best order to do them in.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="slide3">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="assets/images/ext_nav_opt.png" height="500" width="244">
          </div>
          <div class="col-md-5 col-md-offset-1 col-xs-8 col-xs-offset-2 caption">
            <div class="how-it-works-text-wrapper">
              <h3>Navigate with ease</h3>
              <p>The Choice app will direct you right to your delivery, or let you use your favourite navigation app.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
