<div class="jumbotron" id="mentor-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header" id="mentor-header"> JOIN OUR NETWORK OF MENTORS </h2>
      </div>

    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 id="mentor-text"> Join dozens of other mentors and get paid to help others achieve their goals. Share your experiences and knowledge via in-person, online or phone meetings scheduled at your convenience.   </h2>
      </div>
    </div>
    </div>
  </div>
</div>