<div class="jumbotron" id="our-network-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> TRUSTED EXPERT NETWORK </h4>
        <h2 class="section-caption"> We select only the top 1% of marketers </h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">

        <div id="profiles-slider">
          <div class="marketer-profile">

            <div class="row">

              <div class="col-md-5">
                <img src="assets/images/neil-profile-pic.jpg" class="profile-pic">
                <p class="profile-name"> Kevin </p>
                <p class="profile-short-description"> Jack of all trades, master of a few </p>
              </div>

              <div class="col-md-7">
                <p> This alksdjf  adf asdf asdf asd  laksjdf lkajsdlf df asdf asdf asdf asdf asdf asdf asdf </p>
              </div>
            </div>
          </div>
          <div class="marketer-profile">
            <img src="assets/images/neil-profile-pic.jpg" class="profile-pic">
            <p class="profile-name"> Neil </p>
            <p> This alksdjf  adf asdf asdf asd  laksjdf lkajsdlf df asdf asdf asdf asdf asdf asdf asdf </p>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <p> Basically, everyone we assign you is someone you'd want to hire away from us. </p>
      </div>

    </div>

    
    </div>
  </div>
</div>