<div class="jumbotron" id="our-network-container">
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> TRUSTED EXPERT NETWORK </h4>
        <h2 class="section-caption"> We select only the top 1% of marketers </h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <div id="profiles-slider">


          <div class="marketer-profile">
            <div class="row">

              <div class="col-md-4">
                <img src="assets/images/kevin.jpg" class="profile-pic">
                <p class="profile-name"> Kevin </p>
                <p class="profile-short-description"> Georgetown Undergraduate, ex-Google Digital Strategist </p>
              </div>

              <div class="col-md-8">
                <p> Kevin has worked with startups and established companies in Retail, Luxury Goods and B2B industries. He specializes in Search Marketing, Social Media, Media Buying, Email Marketing and Analytics services.</p>
              </div>

            </div>
          </div>



          <div class="marketer-profile">
            <div class="row">

              <div class="col-md-4">
                <img src="assets/images/brian.jpg" class="profile-pic">
                <p class="profile-name"> Brian  </p>
                <p class="profile-short-description"> University of California Undergraduate, ex-Google Digital Strategist </p>
              </div>

              <div class="col-md-8">
                <p> Brian has worked in Search Advertising and Digital Media for over 10 years. He’s worked at and with Fortune 100 companies and startups leading digital acquisition, retention, referral and multichannel efforts. </p>
              </div>

            </div>
          </div>



          <div class="marketer-profile">
            <div class="row">

              <div class="col-md-4">
                <img src="assets/images/teresa.jpg" class="profile-pic">
                <p class="profile-name"> Teresa </p>
                <p class="profile-short-description"> Harvard Undergraduate, Stanford MBA </p>
              </div>

              <div class="col-md-8">
                <p> Teresa has 30 years of marketing experience with Fortune 100 companies, advertising agencies and driven innovative digital marketing practices across Education, Financial Services and Media & Entertainment Industries. </p>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>