<div class="jumbotron" id="partner-container">
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <h2 class="section-header"> BECOME AN EMPLOYMENT PARTNER </h2>
      </div>

    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 id="partner-text"> Choice helps growing companies find qualified workers. We screen and select candidates, personlize training content, offer mentoring, and provide apprenticeships to help them succeed in their new roles.</h2>
      </div>
    </div>
    
  </div>
</div>