<div class="jumbotron" id="services-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> END-TO-END SERVICE </h4>
        <h2 class="section-caption"> Everything your online marketing plan needs </h2>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 service">
        <img class="service__image" src="assets/images/strategy.png">

        <div class="service-wrapper">
          <h4 class="service-title"> Strategy </h4>
          <ul class="service-details">
            <li> Market Research </li>
            <li> Branding </li>
            <li> Channel Analysis </li>
          </ul>
        </div>

      </div>

      <div class="col-md-3 service">
        <img class="service__image" src="assets/images/buying-media.png">

        <div class="service-wrapper">
          <h4 class="service-title"> Media Buying </h4>
          <ul class="service-details">
            <li> Search (Google, Bing) </li>
            <li> Social (Facebook, Twitter, Instagram) </li>
            <li> Display </li>
            <li> Real Time Bidding </li>
          </ul>       
        </div>
      </div>

      <div class="col-md-3 service">
        <img class="service__image" src="assets/images/engagement.png">

        <div class="service-wrapper">
          <h4 class="service-title"> Engagement & Growth </h4>
          <ul class="service-details">
            <li> SEO </li>
            <li> Email Marketing </li>
            <li> Content Marketing </li>
            <li> Affiliate Marketing </li>
          </ul>        
        </div>
      </div>

      <div class="col-md-3 service">
        <img class="service__image" src="assets/images/analytics.png">

        <div class="service-wrapper">
          <h4 class="service-title"> Analytics </h4>
          <ul class="service-details">
            <li> A/B Testing </li>
            <li> Reporting </li>
            <li> Campaign Optimizations </li>
          </ul>        
        </div>
      </div>

    </div>
        

  </div>
</div>