


<div class="col-md-6">

  <form id="driver-form">

    <!-- <h2 class="form-title"> Start Driving </h2> 
    <p class="form-caption"> Sign up to learn more: </p> -->



    <div class="question form-group">
      <label class="question_label">Name</label>
      <input name="name" type="text" class="form-control" id="name-input">
    </div>


    <div class="question form-group">
      <label class="question_label">Email*</label>
      <input name="email" type="email" class="form-control" minlength="5" id="email-input" required>
      <p class="validation-error" id="email-error"> Please input a valid email address </p>
    </div>

    <div class="question form-group">
      <label class="question_label">Phone Number</label>
      <input name="phone" type="tel" class="form-control" id="phone-input" minlength="10" placeholder="(xxx) xxx-xxxx">
      <p class="validation-error" id="phone-error"> Please input a valid phone number, including area code </p>
    </div>


    <div class="question form-group">
      <label class="question_label">I am a:</label>

      
      <section class="two-column-section">
      <label class="user-type-button">
        <input name="user-type" type="radio" value="worker"/> 
        <span style="font-weight: 400"> Worker </span>
      </label>          
    </section>
      
      <section class="two-column-section">
      <label class="user-type-button">
        <input name="user-type" type="radio" value="employer"/> 
        <span style="font-weight: 400"> Employer </span>
      </label>
    </section>
      
    <section class="two-column-section">
      <label class="user-type-button">
        <input name="user-type" type="radio" value="mentor"/> 
        <span style="font-weight: 400"> Mentor </span>
      </label>
    </section>
      
  </div>


    

    <button type="button" class="button button--green" id="submit-button"> Tell me more! </button>
    <p class="form-error-message">Looks like some fields are invalid. Please correct them and try again. </p>
    <p class="form-success-message">Thanks! We'll reach out shortly</p>
  </form>



</div>
