<div class="jumbotron" id="student-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="section-header" id="student-header"> DIGITAL MARKETING TRAINING PROGRAM </h2>
      </div>

    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 id="student-text"> The Digital Marketing Training Program is Choice's first training program to land ambitious job seekers a paid job as a digital marketer without any prior experience. Based in San Francisco, the online program enables ambitious professionals to learn the skills and get the experience needed to find and excel at digital marketing jobs. </h3>

        <h3> Unlike other training programs, the Digital Marketing Training Program’s primary objective is not to give you yet another certificate, but to jumpstart your career with a full-time paid position. We do this by placing every student in an apprenticeship where they can work with experienced industry professionals on real client assignments. </h3>

        <h3> Upon the completion of the apprenticeship program, paid internships and/or full time positions will be available. </h3>

        <h3> <a href="https://medium.com/@christopherfong/ex-googlers-bridge-digital-divide-through-marketing-apprenticeships-4f4207144a26#.j0zjrkle4"> Check out our Medium post for more details. </a> </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <a id="learn-more-link" type="button" href="/digital-marketing" class="button button--green" id="submit-button"> I want to learn more </a>
      </div>
    </div>

    </div>
  </div>
</div>