<div class="jumbotron" id="why-choice-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> WHY CHOICE? </h4>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <p> <span class="reason"> Confidence </span> - All our vetted digital marketers have years of experience at top firms, so rest assured that you're hiring the best posible professionals for your work. </p>

        <p> <span class="reason"> Trust </span> - No more hiring mistakes &#8211 we first work with you to understand your needs, and then match you with the most relevant expert in our network. </p>

        <p> <span class="reason"> Availability & Flexibility </span> - Whether you want a one-time campaign or long-term services, our experts can suit your needs and deadlines.</p>

      </div>
    
    </div>
  </div>
</div>