<div class="jumbotron">
  <div class="container" id="why-choice-container">
    <div class="row">
      <h2 class="section-header"> On Demand the way it should have been. </h2>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/connections-128.png">
        <h3>Access to More Jobs</h3>
        <p> Don&#39;t be tied to one provider&#39;s. &#32; Choose from a variety of well-paying jobs throughout the day &#8212; all on one platform.</p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/agile_flexible_planning-128.png">
        <h3>Eliminate Slow Times</h3>
        <p> No more sitting around idle during the midday slump. &#32; Make the most of your time, any time of the day.  </p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
        <img src="assets/images/agile_sprint_goal-128.png">
        <h3>Truly Flexible Schedules</h3>
        <p> &#34;Work when you want&#34; became &#34;work when there&#39;s work.&#34; With Choice, regain control with predictable schedules. </p>
      </div>

    </div>
  </div>
</div>
