<div class="jumbotron" id="why-choice-container">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h4 class="section-title"> WHY CHOICE? </h4>
      </div>

    </div>

    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <p> <span class="reason"> Confidence </span> - Our vetted talent pool consists of the top digital marketers with years of experience at the best firms. </p>

        <p> <span class="reason"> Trust </span> -  No more hiring gambles -- we first work with you to understand your needs, and then hand-match you with the most relevant expert in our network. </p>

        <p> <span class="reason"> Availability & Flexibility </span> - Whether you want a one-time campaign or long-term services, we can suit your needs and deadlines. </p>

      </div>
    
    </div>
  </div>
</div>