<div class="row">
  <div class="col-md-6 col-md-offset-3">


    <form id="client-request-form">

      <h2 class="form-title">{{heading}}</h2>
      <p class="form-caption">{{description}}</p>


      <div class="question form-group">
        <label class="question_label">Name*</label>
        <input name="name" type="text" class="form-control" id="name-input" required>
      </div>

      <div class="question form-group">
        <label class="question_label">Phone Number*</label>
        <input name="phone" type="tel" class="form-control" id="phone-input" minlength="10" placeholder="(xxx) xxx-xxxx"required>
        <p class="validation-error" id="phone-error"> Please input a valid phone number, including your area code </p>
      </div>

      <div class="question form-group">
        <label class="question_label">Email*</label>
        <input name="email" type="email" class="form-control" minlength="5" id="email-input" required>
        <p class="validation-error" id="email-error"> Please input a valid email address </p>
      </div>

      <div class="question form-group">
        <label class="question_label">Link to your resume or LinkedIn?</label>
        <input name="start_date" type="text" class="form-control" id="resume" maxlength="40">
      </div>

      <div class="question form-group">
        <label class="question_label">When do you want us to start?</label>
        <input name="start_date" type="text" class="form-control" id="start-date-input" maxlength="40">
      </div>

      <div class="question form-group">
        <label class="question_label">Tell us more</label>
        <input name="start_date" type="text" class="form-control" id="start-date-input" maxlength="40">
      </div>


      <button type="button" class="button button--green" id="submit-button"> Join us </button>
      <p class="form-error-message">Looks like some fields are invalid. Please correct them and try again.</p>

      <p class="form-success-message">Thanks! We'll contact you shortly. </p>

    </form>

  </div>
</div> 
