<div class="row form-row">
  <div class="col-md-6 col-md-offset-3">
    <div class="slider">

      <div class="row survey_slide">

        <div class="survey_slide__header">
          <h2 class="survey_slide__header__title">{{heading}}</h2>
          <p class="survey_slide__header__caption">{{caption}}</p>
        </div>

        <form class="form_container form_container--white_border">


          <div class="question">
            <label class="question_label">First Name</label>
            <input type="text" class="form-control" id="first-name-input">
          </div>

          <div class="question">
            <label class="question_label">Last Name</label>
            <input type="text" class="form-control" id="last-name-input">
          </div>


          <div class="question">
            <label class="question_label">Phone Number</label>
            <input type="tel" class="form-control" id="phone-input">
          </div>

          <div class="question">
            <label class="question_label">Email</label>
            <input type="email" class="form-control" id="email-input">
          </div>

          <div class="question">
            <label class="question_label">What year were you born?</label>
            <input type="text" class="form-control" id="birth-year-input">
          </div>

          <div class="question">
            <label class="question_label">Where in the bay would you like to work?</label>
            {{#each cities}}
            <span class="button-checkbox">
              <button type="button" class="btn" data-color="primary">{{this}}</button>
              <input type="checkbox" class="hidden" />
            </span>
            {{/each}}
          </div>


          <div class="question">
            <label class="question_label">How many hours a week can you work?</label>
            <input type="text" class="form-control" id="hours-a-week">
          </div>

          <div class="question">
            <label class="question_label">Do you have a valid Driver's License?</label>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">Yes</button>
              <input type="checkbox" class="hidden" />
            </span>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">No</button>
              <input type="checkbox" class="hidden" />
            </span>
          </div>


          <div class="question">
            <label class="question_label">Are you willing to do a background check?</label>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">Yes</button>
            </span>
            <span class="button-checkbox">
              <button type="button" class="btn radio" data-color="primary">No</button>
            </span>
          </div>


          <!--
          <label class="question_label">Are you willing to do a background check?</label>
          <span class="button-checkbox">
              <input type="checkbox" class="hidden" />
            </span>
          <div class="toggle-button form-control" id="background-check">
            <img src="assets/images/checkbox--unchecked.png" class="checkbox-image checkbox--unchecked">
            <img src="assets/images/checkbox--checked.png" class="checkbox-image checkbox--checked">
            <label class="toggle_question_label"> Are you willing to do a background check </p>
          </div>

        -->

          <div class="question">
            <label class="question_label">When would you like to receive a phone call?</label>
            <input type="text" class="form-control" id="time-to-call">
          </div>

        </form>

        
      </div>

      <div id="form-status"></div>

      <div class="col-md-6 col-md-offset-3">
        <a class="button" id="next-button">Get your free consultation</a>
      </div>

    </div>  <!-- slider -->
  </div> <!-- col -->
</div> <!-- row -->