<div class="slider" id="signup-form-slider">
  {{#each slides}}
    <div class="row slide">
      <div class="slide{{@index}}-header-placeholder"></div>
      <div class="slide{{@index}}-content-placeholder"></div>
    </div>
  {{/each}}
</div>  <!-- slider -->
