<form id="basics-form">
  <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
  <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
  <input type="tel" class="form-control" id="phone-input" placeholder="Phone">
  <input type="text" class="form-control" id="email-input" placeholder="Email">
  <select class="form-control" id="city-select">
    {{#each cities}}
    <option value="{{this.key}}">{{this.name}}</option>
    {{/each}}
  </select>

  <div class="yes-no-button no">
    <p>{{checkbox-text}}</p>
    <img src="{{checkbox-image}}">
  </div>

</form>
