<p class="question-text"> What times work with your current schedule?</p>
<form class="col-md-8 col-md-offset-2" id="availability-form">
  <div class="row">
    <div class="col-md-12">
      <p>**Easy time and day chooser goes here**</p>
    </div>
  </div>
</form>
