<form id="form-container">
  <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
  <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
  <input type="tel" class="form-control" id="phone-input" placeholder="Phone">
  <input type="text" class="form-control" id="email-input" placeholder="Email">

  <label class="question_label">Where do you want to work?</label>
  <select class="form-control" id="city-select">
    {{#each cities}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <label class="question_label">How many hours a week would you like to work?</label>
  <input type="text" class="form-control" id="hours-a-week">

  <label class="question_label">Do you have a valid Driver's License?</label>
  <input type="text" class="form-control" id="has-drivers-license">

  <label class="question_label">Are you willing to do a background check?</label>
  <input type="text" class="form-control" id="willing-background-check">

  <label class="question_label">When can we call you?</label>
  <input type="text" class="form-control" id="time-to-call">

  <label class="question_label">What year were you born</label>
  <input type="text" class="form-control" id="year-born">

</form>
