<form id="experience-form">

  <div class="row">
    <div class="col-md-12">
      <p class="question-text">Which of these are you able to drive (and have a license for)?</p>
      <input type="checkbox" value="auto"><label> Automatic</label>
      <input type="checkbox" value="manual"><label> Manual</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 question">
      <p class="question-text"> Do you have driving experience in any of these?</p>
      <input type="checkbox"><label>Traditional Valet </label>
      <input type="checkbox"><label> Uber </label>
      <input type="checkbox"><label> Lyft </label>
      <br>
      <input type="checkbox"><label> Sidecar </label>
      <input type="checkbox"><label> Other On Demand Service </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 question">
      <p class="question-text">Please describe any other customer service experience?</p>
      <textarea class="form-control" id="customer-service-form-textarea" rows="8" placeholder=""></textarea>
    </div>
  </div>

</form>
