<form id="eligibility-form">

  {{#each questions}}
  <div class="row">
    <div class="col-md-12 question">
      <p class="question-text">{{this.question-text}}</p>
      <input type="radio" /> <label>{{this.toggle-true-text}}</label>
      <input type="radio" /> <label>{{this.toggle-false-text}}</label>
    </div>
  </div>
  {{/each}}

</form>
